<p class="justify">{{ settings.wishlist_text}}</p>

<div class="resultat" id="account">

                <div class="contenu-produits-af3 row">

                  {% assign loop_index = 0 %}
                  {% for tag in customer.tags limit:50 %}
                    {% if tag contains 'WISH|' %}
                        {% capture loop_index %}{{ loop_index | plus:1 }}{% endcapture %}
                        {% assign product = tag | remove: "WISH|" %}

                        <div class="produit col-xs-12 col-sm-4">
                          <div class="wish-container">
                                {% if all_products[product].tags contains 'FEATURED' %}
                                    <div class="favori"><img src="{{ 'resultat-produit_favori.png' | asset_url }}" alt=""/> <span>{{ 'customer.wishlist.featured_product' | t }}</span></div>
                                {% else %}
                                  <div class="non-favori"></div>
                                {% endif %}
                                  <div class="piece">
                                    {% for image in all_products[product].images limit:2 %}
                                        {% if forloop.first == true %}
                                        <a href="{{ all_products[product].url }}"><img src="{{ image.src | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" class="img-responsive img-produit"/></a>
                                        {% else %}
                                        <a href="{{ all_products[product].url }}"><img src="{{ image.src | product_img_url: 'medium' }}" alt="{{ product.title | escape }}" class="img-responsive img-produit-hover"/></a>
                                        {% endif %}
                                    {% endfor %}
                                  </div>
                                  <div class="titre" onclick='document.location.href="{{ all_products[product].url }}"'><h2>{{ all_products[product].title }}</h2></div>
                                  <div class="detail">
                                      <div class="prix">{{ all_products[product].price | money }}</div>
                                      {% if all_products[product].available %}
                                      <div class="bouton">
                                          <div class="first panier">
                                            <form id="add-item-form" action="/cart/add" method="post">
                                             <input type="hidden" name="id" value="{{ all_products[product].first_available_variant.id }}" />
                                            <input type="submit" id="purchase" class="panier" name="add" value="{{ 'customer.wishlist.add_basket' | t }}" />
                                            </form>
                                          </div>
                                          <div class="last remove">{% include 'form-wishlist-account' %}</div>
                                      </div>
                                      {% else %}
                                        <div class="bouton">
                                            <div class="first sold-out">{{ 'collection.sold_out' | t }}</div>
                                            <div class="last remove">{% include 'form-wishlist-account' %}</div>
                                        </div>
                                      {% endif %}
                                    <div id="errors{{ all_products[product].id }}" class="remove-error"></div>
                                    <div id="success{{ all_products[product].id }}" class="remove-success"></div>
                                      <button class="voir-produit" onclick='document.location.href="{{ all_products[product].url }}"'><img class="img-lien" src="{{ 'next.png' | asset_url }}" alt=">"> {{ 'customer.wishlist.view_item'| t }}</button>
                                  </div>
                            </div>
                          </div>
                    {% endif %}
                  {% endfor %}
                  {% if loop_index == 0 %}
                    <div class="produit col-xs-12 col-sm-12">
                      <h5 class="center">Votre wishlist ne contient actuellement aucun produit.</h5>
                  </div>
                  {% endif %}
                </div><!-- .contenu-produits -->

</div><!-- .resultat -->