<div class="modal fade" id="modalWishConfirm" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        Your wishlist has been updated.
      </div>
    </div>
  </div>
</div>

<div class="modal fade in" id="alertModal" tabindex="-1" role="dialog" aria-labelledby="alertModalLabel">
  <div class="modal-dialog" role="document" id="alert-form">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="alertModalLabel">Create an Alert</h4>
      </div>
      <div class="modal-body">
        <div class="input-group">
             <form action="http://cdmaobtao.myshopify.com/apps/askalert" method="get" id="createalert">

            <div class="center"><h4>Don't miss that special item! </h4><br>
Create a personalised mail alert to keep up to date<br> with items in the same category of this one<br> when they come online.</div>

                <fieldset>
                    <input type="hidden" name="create" value="createalert" id="create">
                    <input type="hidden" name="idpc" value="" id="idpc">
                    <input type="hidden" name="variant" data-variant="value" value="" id="variant">
                    <input type="hidden" name="idcc" value="{{ customer.id }}" id="idcc">
                    <input type="hidden" name="createtag" value="ALERT|ACTIVE|gabon" id="createtag">




                    <input type="email" required="" name="alert-email" class="form-control" placeholder="Your e-mail address*" id="emailc">
                    <div class="divbutton">
                        <button type="submit">Send</button>
                        *Required Field
                    </div>
                </fieldset>
               <div id="errors"></div>
             </form>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="wishlist" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="zoomHit" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="{{ 'close.png' | asset_url }}" alt="Close"></button>
            </div>
            <div class="modal-body">
              <div class="page-produit container-fluid">
<!--
                <div class="pagination">
                        <div class="col-xs-6 col-sm-6">
                            <a href="#" ng-click="previousItem()"><img src="{{ 'back.png' | asset_url }}" alt="<" class="back"><span>Previous items</span></a>
                        </div>
                        <div class="col-xs-6 col-sm-6 text-right">
                            <a href="#" ng-click="nextItem()"><span>Next items</span><img src="{{ 'next.png' | asset_url }}" alt="<" class="next"></a>
                        </div>
                </div>
-->
                <div class="">
                    <div class="produit col-xs-12">
                        <div class="col-xs-12 col-sm-8">
                            <div id="image-produit" class="zoom" data-image="{{ 'produit-zoom-front.jpg' | asset_url }}">
                                <a data-link="/products/" href=""><img data-src="avers" src="" id="image" class="img-responsive"></a>
                            </div>
                            <div class="col-sm-10 miniature">
                                <img data-src="avers" src="" width="62">
                                <img data-src="revers" src="" width="62">
                            </div>
                            <div class="col-sm-2 text-center petitzoom">
                                <!--
                                <br><br><a href="#"><img src="{{ 'produit-zoom.png' | asset_url }}" alt="zoom"><br>Zoom</a>
                                -->
                            </div>

                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div id="container-zoom" class="hidden-xs hidden-sm">
                                <div id="window-zoom" style="display:none;"></div>
                            </div>
                            <div class="descriptif-produit">
                                <div class="reference"><span data-replace="reference"></span></div>
                                <h1 class="nom-produit"><span data-replace="title"></span></h1>
                                <div class="prix" id="certif-price">
                                    <span class="money" data-replace="price"></span>€
                                </div>
                                <form id="add-item-form" action="/cart/add" method="post">
                                    <div class="select clearfix" style="display:none">
                                        <select id="product-select-0" name="id[]">
                                            <option data-variant="value" value="" selected="selected"></option>
                                        </select>
                                    </div>
                                    <input type="submit" id="purchase" class="panier" name="add" value="Add to basket">
                                </form>
                                <form action="/apps/wish" method="get" id="wish" class="wish">
                                    <div {% if customer.id == null %}class="nocustomer" style="display:none;"{% endif %} id="contactFormWrapper">
                                        <input type="hidden" name="type" value="wishlist" id="type">
                                        <input type="hidden" name="idc" value="{{ customer.id }}" id="idc">
                                        <input type="hidden" name="variant" data-variant="value" value="" id="variant">
                                        <input type="hidden" name="tag" data-wish value="" id="tag">
                                        <input type="hidden" name="action" value="create" id="action">

                                        <input type="submit" class="wishlist" value="Add to wishlist">
                                    </div>
                                    <div {% if customer.id != null %}style="display:none;"{% else %}class="nocustomer"{% endif %} id="errors">
                                        <div class="errorForm feedback">
                                            Please sign in to save this<br>to your wishlist.<br><br>
                                            <a href="/account/login">
                                                Login Now <img src="{{ 'next.png' | asset_url }}" class="next">
                                            </a>
                                        </div>
                                    </div>
                                    <div style="display:none;" id="success">
                                        <div class="successForm feedback">Your wishlist has been updated.</div>
                                    </div>
                                </form>
                            </div>
                            <div class="detail">
                              Ref : <span data-replace="reference"></span><br />
                              <div data-show="quality">
                                    Quality : <span data-replace="quality"></span><br />
                              </div>
                              <div data-show="grading">
                                    Grading : <span data-replace="grading"></span><br />
                              </div>
                              <div data-show="denomination">
                                    Denomination : <span data-replace="denomination"></span><br />
                              </div>
                              <div data-show="year">
                                    Year : <span data-replace="year"></span><br />
                              </div>
                              <div data-show="composition">
                                    Composition : <span data-replace="composition"></span><br />
                              </div>
                              <div data-show="mintname">
                                    Mint name : <span data-replace="mintname"></span><br />
                              </div>
                            </div>
                            <div class="bouton-raccourci">
                                <a class="article" data-link="/products/" href="">
                                    <img class="img-lien" src="{{ 'next.png' | asset_url }}" alt=">"> Voir la fiche article
                                </a>
                            </div>
                            <div class="clear"></div>
                         </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

<div id="templateHitBig" style="display:none">
  <div class="produit big" data-title="##[title]##" data-handle="##[handle]##" id="product">
    <div class="row" href="#">
      <div class="col-xs-12 col-sm-8 titre">
        <h2>##[title]##</h2>
      </div>
      <div class="col-xs-4"></div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-4 piece">
          ##[#avers]##
              <a class="avers" href="/products/##[handle]##">
                  <img src="##[avers_medium]##" class="img-responsive" alt="##[title]##" />
              </a>
          ##[/avers]##
      </div>
      <div class="col-xs-6 col-sm-4 piece">
          ##[#revers]##
              <a class="revers" href="/products/##[handle]##">
                  <img src="##[revers_medium]##" class="img-responsive" alt="##[title]##" />
              </a>
          ##[/revers]##
      </div>
      <div class="col-xs-12 col-sm-4">
        <div class="detail">
          Ref : ##[reference]##<br />
          <div data-show="##[quality]##">
            Quality : ##[quality]##<br />
          </div>
          <div data-show="##[grading]##">
            Grading : ##[grading]##<br />
          </div>
          <div data-show="##[denomination]##">
            Denomination : ##[denomination]##<br />
          </div>
          <div data-show="##[year]##">
            Year : ##[year]##<br />
          </div>
          <div data-show="##[composition]##">
            Composition : ##[composition]##<br />
          </div>
          <div data-show="##[mintname]##">
            Mint name : ##[mintname]##<br />
          </div>
          {% include 'algolia-details' %}
          <a class="voir-produit" href="/products/##[handle]##">
            <img class="img-lien" src="{{ 'next.png' | asset_url }}" alt=">"> View item
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="templateHitMedium" style="display:none">
  <div class="produit medium col-xs-12 col-sm-4" data-title="##[title]##" data-handle="##[handle]##">
    <div class="non-favori"></div>
    <div class="piece">
      ##[#avers]##
          <a class="avers" href="/products/##[handle]##">
              <img src="##[avers_medium]##" class="img-responsive" alt="##[title]##" />
          </a>
      ##[/avers]##
      ##[#revers]##
          <a class="revers" href="/products/##[handle]##">
              <img src="##[revers_medium]##" class="img-responsive" alt="##[title]##" />
          </a>
      ##[/revers]##
    </div>
    <div class="titre"><h2>##[title]##</h2></div>
    <div class="detail">
      {% include 'algolia-details' %}
      <a class="voir-produit" href="/products/##[handle]##">
          <img class="img-lien" src="{{ 'next.png' | asset_url }}" alt=">"> View item
      </a>
    </div>
  </div>
</div>

<div id="templateHitSmall" style="display:none">
  <div class="produit small" data-title="##[title]##" data-handle="##[handle]##">
    <div class="sold"></div>
    <div class="piece">
      ##[#avers]##
      <a class="avers" href="/products/##[handle]##">
        <img src="##[avers_medium]##" class="img-responsive img-produit" alt="##[title]##" />
      </a>
      ##[/avers]##
      ##[#revers]##
      <a class="revers" href="/products/##[handle]##">
        <img src="##[revers_medium]##" class="img-responsive"  alt="##[title]##" />
      </a>
      ##[/revers]##
    </div>
    <div class="zoom" data-ref="##[reference]##" data-toggle="modal" data-target="#zoomHit"><img src="{{ 'resultat-bt-zoom.png' | asset_url }}" alt="" /></div>
  </div>
</div>