<!--
<div class="filtre-haut hidden-sm hidden-xs">
    <div class="titre" onClick="$('#filtrehaut').toggle();$('#croix').toggle()">
        <div><h3>My filters</h3></div>
        <div id="croix"><img src="{{ 'resultat-filtre-croix.png' | asset_url }}" alt="x" /></div>
    </div>
    <div class="contenu" id="filtrehaut">
        <div class="rows">
            <div class="col-xs-6">
                <div class="checkboxs">
                    <div ng-repeat="filter in filters1" ng-click="removeFilter(filter.facetName, filter.value)"><input filter="filter" /></div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="checkboxs">
                    <div ng-repeat="filter in filters2" ng-click="removeFilter(filter.facetName, filter.value)"><input filter="filter" /></div>
                </div>
            </div>
            <div class="col-xs-12">
                <button class="btn">Save my search</button>
            </div>
        </div>
    </div>
</div>
-->

<div class="filtre-haut hidden-sm hidden-xs">
    <div id="reset" class="titre facetToggle"></div>
</div>

<div class="facetFilter filtre">
    <div class="titre facetToggle">
        <div><h3>Price</h3></div>
        <div id="metal-fleche" class="ferme">&nbsp;</div>
    </div>
    <div class="contenu">
        <div id="priceChoice" class="choix"></div>
    </div>
</div>
<div class="facetFilter filtre">
    <div class="titre facetToggle">
        <div><h3>Categories</h3></div>
        <div id="metal-fleche" class="ferme">&nbsp;</div>
    </div>
    <div class="contenu">
        <div id="categories" class="choix"></div>
    </div>
</div>

