<div class="bord"><span class="hidden-sm hidden-xs">|</span></div>

<div>
    <a href="#" class="displayMode active" data-mode="Medium" data-class="contenu-produits-af3 row">
        <img src="{{ 'resultat-aff-3_hover.png' | asset_url }}" alt="medium" />
        <img class="black" src="{{ 'resultat-aff-3.png' | asset_url }}" alt="medium" />
    </a>
</div>
<div>
    <a href="#" class="displayMode" data-mode="Small" data-class="contenu-produits-af5">
        <img src="{{ 'resultat-aff-5_hover.png' | asset_url }}" alt="small" />
        <img class="black" src="{{ 'resultat-aff-5.png' | asset_url }}" alt="small" />
    </a>
</div>
<div>
    <a href="#" class="displayMode" data-mode="Big" data-class="contenu-produits">
        <img src="{{ 'resultat-aff-liste_hover.png' | asset_url }}" alt="big" />
        <img class="black" src="{{ 'resultat-aff-liste.png' | asset_url }}" alt="big" />
    </a>
</div>
<div id="stats"></div>
<!-- <div class="space-af hidden-sm hidden-xs"></div> -->

<div class="sorting-container">
<div class="sort hidden-sm hidden-xs">
    <ul class="niveau1">
        <li>
            <span id="imageDisplayMode">Avers</span> <img src="{{ 'resultat-chevron.png' | asset_url }}" alt="" />
            <ul class="niveau2">
                <li>
                    <a href="#" class="changeImage">Avers</a>
                </li>
                <li>
                    <a href="#" class="changeImage">Revers</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
  <div id="isSold"></div>
<div id="sortBy"></div>
<!--
<div class="sort hidden-sm hidden-xs">
    <ul class="niveau1">
        <li>
            Sort By : <span id="indexType">Default</span> <img src="{{ 'resultat-chevron.png' | asset_url }}" alt="" />
            <ul class="niveau2">
                <li class="active">
                    <a class="changeIndex" data-indexName="products_custom" href="">Default</a>
                </li>
                <li>
                    <a class="changeIndex" data-indexName="products_en" href="">Relevance</a>
                </li>
                <li>
                    <a class="changeIndex" data-indexName="products_price_desc" href="">Price : Highest first</a>
                </li>
                <li>
                    <a class="changeIndex" data-indexName="products_price_asc" href="">Price : Lowest first</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
-->
<!--
<div class="sort hidden-sm hidden-xs">
    <ul class="niveau1">
        <li>
            Product : On sale <img src="{{ 'resultat-chevron.png' | asset_url }}" alt="" />
            <ul class="niveau2">
                <li><a href="">Sold</a></li>
                <li><a href="">All</a></li>
            </ul>
        </li>
    </ul>
</div>
-->
</div>