<div class="prix"><span data-replace="price">##[price]##</span> €</div>
<div class="bouton">
    <form data-show="##[isValidated]##" class="first little-form" action="/cart/add" method="post">
        <div class="select clearfix" style="display:none">
            <select id="product-select-0" name="id[]">
                <option value="##[variant]##" selected="selected"></option>
            </select>
        </div>
        <button class="buttonSubmit" type="submit">
            <img class="opa" src="{{ 'resultat-bt-panier-noir.png' | asset_url }}" alt="">
        </button>
    </form>

    {% if settings.active_wishlist and customer.id != null %}
        <form data-show="##[isValidated]##" action="/apps/wish" method="get" id="wish" class="little-form wish">
              <input type="hidden" name="type" value="wishlist" id="type">
              <input type="hidden" name="idc" value="{{ customer.id }}" id="idc">
              <input type="hidden" name="variant" data-variant="value" value="" id="variant">
              <input type="hidden" name="tag" data-wish value="" id="tag">
              <input type="hidden" name="action" value="create" id="action">
            <button class="buttonSubmit" type="submit">
                <img class="opa" src="{{ 'resultat-bt-favori-noir.png' | asset_url }}" alt="">
            </button>
        </form>
    {% endif %}
    {% if settings.active_alert %}
  <!--
        <div data-show="##[isValidated]##">
            <a href="#" data-toggle="modal" data-target="#alertModal"><img class="opa" src="{{ 'resultat-bt-alert-noir.png' | asset_url }}" alt=""></a>
        </div>
  -->
    {% endif %}

    <div data-show="##[isSold]##" class="first sold-out">Sold out</div>

    <div class="last zoom" data-ref="##[reference]##" data-toggle="modal" data-target="#zoomHit">
        <img src="{{ 'resultat-bt-zoom-noir.png' | asset_url }}" alt="" class="opa" />
    </div>
</div>