            <div class="input-group">
                        <div class="home simple-form">
                            <div class="search">
                                  <div class="input-group">
                                    <form action="/search" id="form_recherche">
                                      <input type="hidden" name="type" value="product" />
                                      <span class="input-group-addon" id="basic-addon1"><img src="{{ 'search.png' | asset_url }}" alt=""></span>
                                      <input type="search" class="form-control" required="required" name="q" value="{{ search.terms | escape }}" placeholder="Enter your search here" aria-describedby="sizing-addon1">
                                      <button type="submit">{{ 'general.search.search' | t }}</button>
                                    </form>
                                  </div>
                            </div>
                          </div>
                 </div>