<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>

  <meta charset="utf-8" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="">
  {% if page_description %}
  <meta name="description" content="{{ page_description }}" />
  {% endif %}
  <meta name="author" content="{{ shop.name}}">

  {% include 'social-metas' %}
  <title>
  {% if product %}{{ product.title }} {% endif %}{% unless collection %}{{ page_title | remove: '(' | remove: ')' | capitalize }}{% else %}{{ collection.title | remove: ' - ' | split: ')' | last }}{% endunless %}{% if current_tags %} &ndash; {{ 'general.meta.tagged' | t }} "{{ current_tags | join: ', '| remove:'CAT|' | remove: 'REQUIRED|' | remove: 'KEY|' | capitalize }}"{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t }} {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  <link rel="icon" href="{{ 'favicon.png' | asset_url }}">
  <link rel="canonical" href="{{ canonical_url }}" />

  <!-- STYLES -->
  {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
  {{ 'style.css' | asset_url | stylesheet_tag }}
  {{ 'style_add.css' | asset_url | stylesheet_tag }}
  {{ 'style_media.css' | asset_url | stylesheet_tag }}
  {% if template contains 'search' %}
  {{ 'nouislider.css' | asset_url | stylesheet_tag }}
  {{ 'instantsearch.min.css' | asset_url | stylesheet_tag }}
  {% endif %}

  {{ 'html5shiv.js' | asset_url | script_tag }}
  <!-- Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    {{ '//oss.maxcdn.com/respond/1.4.2/respond.min.js' | script_tag }}
  <![endif]-->

  {{ content_for_header }}

  <!-- SCRIPTS -->
  {{ 'jquery-2.1.4.min.js' | asset_url | script_tag }}
  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}

  {% if template contains 'customers' %}
  {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}
  <!-- Record recently Viewed -->
  {% if template contains 'product' %}
  {{ 'js.cookie.js' | asset_url | script_tag }}
  {% endif %}

</head>

<body {% if template contains 'contact'%}onLoad="initialiser()"{% endif %}>
  {% include 'header' %}

        {{ content_for_layout }}

  {% include 'footer' %}

<!-- Chargement scripts & Styles Footer -->
   {% unless template contains 'search' %}
   {{ 'bootstrap.min.js' | asset_url | script_tag }}
   {% endunless %}
   {% if template contains 'product' %}
   {{ 'jquery.easyzoom-modified.min.js' | asset_url | script_tag }}
   {{ 'apps.css' | asset_url | stylesheet_tag }}
   {% endif %}
   {{ 'front.js' | asset_url | script_tag }}


<!-- SCROLL TO TOP -->
        <script>
             var $window = $(window);

            $(document).ready(function () {
                $window.scroll(function () {
                    if ($(this).scrollTop() > 150) {
                     $('#navigation').addClass("navbar-fixed-top");
                    }else{
                     $('#navigation').removeClass("navbar-fixed-top");
                    }
                });

                jQuery('#slidenew').carousel({
                        interval: 2700
                });

                jQuery('#sliderare').carousel({
                        interval: 3000
                })

                {% if template contains 'product'%}
                $(".zoom").easyZoom({
                    selector: {
                        preview: "#preview-zoom",
                        window: "#window-zoom"
                    }
                });
                $('[data-toggle="popover"]').popover({
                      placement : 'bottom',
                      html: true
                  });

                {% endif %}

                $('.scrollTo').click( function() { // Au clic sur un élément
                var page = $(this).attr('href'); // Page cible
                var speed = 750; // Durée de l'animation (en ms)
                $('html, body').animate( { scrollTop: $(page).offset().top }, speed ); // Go
                return false;
        });
            });
        </script>


<!-- Support du switch de devises -->
{% include 'currencies' %}
<!-- cart datas -->
{% include 'ajaxify-cart' %}

<!-- Plugin jQuery Ajaxification Mailchimp Form -->
{{ 'jquery.ajaxchimp.js' | asset_url | script_tag }}
<script>
  $('#mc-form').ajaxChimp({
    url: '{{ settings.mailchimp_list_url }}'
    });

    $('#mc-form2').ajaxChimp({
    url: '{{ settings.mailchimp_list_url }}'
    });
</script>
{% if template contains 'account' %}
<script>
    $('#mc-form3').ajaxChimp({
    url: '{{ settings.mailchimp_list_url }}'
    });
</script>
{% endif %}

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--  {{ 'ie10-viewport-bug-workaround.js' | asset_url | script_tag }}</script>-->

<!-- BARRE DES COOKIES -->
{{ 'cookiechoices.js' | asset_url | script_tag }}
<script>
      document.addEventListener('DOMContentLoaded', function(event) {
        cookieChoices.showCookieConsentBar('{{ 'general.legal.warning' | t }}',
        '[{{ 'general.legal.close' | t }}]', '[{{ 'general.legal.more' | t }}]', '{{ pages[settings.policy].url }}');
      });

</script>

<!-- Awesome Fonts CDN -->
{{ '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' | stylesheet_tag }}
{% comment %}{% include 'recently-viewed-theme' %}{% endcomment %}
</body>
</html>
