function DetailProduit(id) {
    $('#detail').hide();
    $('#commentaire').hide();
    $('#paiement').hide();
    $('#certification').hide();
    $('#expert').hide();
    $('#garanties').hide();
    $(id).show();

    $('.detail').removeClass("active");
    $('.commentaire').removeClass("active");
    $('.paiement').removeClass("active");
    $('.certification').removeClass("active");
    $('.expert').removeClass("active");
    $('.garanties').removeClass("active");
    var nomclass = id.replace("#", ".");
    $(nomclass).addClass("active");
};

function ChangeImage(image) {
    var url = '' + image + '.jpg';
    var urlzoom = '' + image + '.jpg';

    document.getElementById("image").src = url;
    document.getElementById("zoompopup").src = urlzoom;
    document.getElementById("image-produit").setAttribute("data-image", urlzoom);

    $(".zoom").easyZoom({
        selector: {
            preview: "#preview-zoom",
            window: "#window-zoom"
        }
    });
};

function OuvrirFiltre(id){
    if ($(id).is(":visible")){
        $(id+'-fleche').addClass("ouvert");
    }else $(id+'-fleche').removeClass("ouvert");
}

function removeAllOptions(sel, removeGrp) {
    var len, groups, par;
    if (removeGrp) {
        groups = sel.getElementsByTagName('optgroup');
        len = groups.length;
        for (var i = len; i; i--) {
            sel.removeChild(groups[i - 1]);
        }
    }

    len = sel.options.length;
    for (var i = len; i; i--) {
        par = sel.options[i - 1].parentNode;
        par.removeChild(sel.options[i - 1]);
    }
}

function appendDataToSelect(sel, obj) {
    var f = document.createDocumentFragment();
    var labels = [], group, opts;

    function addOptions(obj) {
        var f = document.createDocumentFragment();
        var o;

        for (var i = 0, len = obj.text.length; i < len; i++) {
            o = document.createElement('option');
            o.appendChild(document.createTextNode(obj.text[i]));

            if (obj.value) {
                o.value = obj.value[i];
            }

            f.appendChild(o);
        }
        return f;
    }

    if (obj.text) {
        opts = addOptions(obj);
        f.appendChild(opts);
    } else {
        for (var prop in obj) {
            if (obj.hasOwnProperty(prop)) {
                labels.push(prop);
            }
        }

        for (var i = 0, len = labels.length; i < len; i++) {
            group = document.createElement('optgroup');
            group.label = labels[i];
            f.appendChild(group);
            opts = addOptions(obj[ labels[i] ]);
            group.appendChild(opts);
        }
    }
    sel.appendChild(f);
}

//PAGES CONTACT
var Select_List_Data = {
    'choices': {
        client: {
            text: ["{{ 'contact.form.category.client_article' | t }}", "{{ 'contact.form.category.client_paiement' | t }}", "{{ 'contact.form.category.client_livraison' | t }}", "{{ 'contact.form.category.client_moncompte' | t }}", "{{ 'contact.form.category.client_macommande' | t }}", "{{ 'contact.form.category.client_technique' | t }}", "{{ 'contact.form.category.client_retour' | t }}", "{{ 'contact.form.category.client_grading' | t }}", "{{ 'contact.form.category.client_catalogue' | t }}", "{{ 'contact.form.category.client_suggestion' | t }}",],
            value: ['article', 'paiement', 'livraison', 'moncompte', 'macommande', 'problemetechnique', 'retour-remboursement','service-grading', 'catalogue', 'suggestion' ]
        },
        vente_achat: {
            text: ["{{ 'contact.form.category.vente_achat_depot' | t }}", "{{ 'contact.form.category.vente_achat_immediat' | t }}"],
            value: ['depot_vente', 'achat_immediat']
        },
        service: {
            text: ["{{ 'contact.form.category.service_collaboration' | t }}"],
            value: ['collaboration']
        },
        presse: {
            text: ["{{ 'contact.form.category.presse_information' | t }}", "{{ 'contact.form.category.presse_partenariat' | t }}"],
            value: ['information', 'partenariat']
        },
        carriere: {
            text: ["{{ 'contact.form.category.carriere_spontanee' | t }}"],
            value: ['spontanee']
        },
        autre: {
            text: ["{{ 'contact.form.category.autre_autres' | t }}"],
            value: ['autre']
        }
    }
};

function toggleDiv(element){
     var el;
     el = document.getElementById(element);
     if(el.style.display != 'block')
     {
       el.style.display = 'block';
     }
     else
     {
       el.style.display = '';
     }
};

$('[data-toggle="popover"]').popover({
    placement : 'bottom',
    html: true
});

$('#myModal').on('hidden.bs.modal', function () {
    $('#window-zoom').hide();
})

// liste imbriquée pour la catégorie de la page résultat
$(".choix li:has(ul)").click(function()// lors du clic sur un élément de liste (<li>) qui possède une liste imbriquée (<ul>.
{
        // Si les listes imbriquées de cet élément sont cachées, l'image est changée et les listes sont affichées
        if ($(this).children().is(":hidden")){
                $(this).css("list-style-image","url(fleche-bas-or.png)").children().show();
                $(this).css("color","#c9a100");
                $(this).css("font-family","'Avenir-Bold'");
        }else{
                $(this).css("list-style-image","url(next.png)").children().hide();
                $(this).css("color","#000");
                $(this).css("font-family","'Avenir-Light'");
        }
        return false;
})
.css("cursor","pointer").click();// la forme du curseur de la souris
// si l'élément ne possèdepas de liste imbriquée alors la forme du curseur reste par défaut
$(".choix li:not(:has(ul))").css({cursor: "default","list-style-image":"none"});


if (document.forms['contactForm']){
    document.forms['contactForm'].elements['contact[category]'].onchange = function (e) {
        var relName = 'choices';
        var relList = this.form.elements[ relName ];
        var obj = Select_List_Data[ relName ][ this.value ];
        removeAllOptions(relList, true);
        appendDataToSelect(relList, obj);
    };


(function () {
    var form = document.forms['contactForm'];
    var sel = form.elements['contact[category]'];
    sel.selectedIndex = 0;
    var relName = 'choices';
    var rel = form.elements[ relName ];
    var data = Select_List_Data[ relName ][ sel.value ];
    appendDataToSelect(rel, data);

}());

}

$(document).ready(function () {
    // INPUT FILE
    $('div.input_file input[type="file"]').change(function () {
        var valeur = $(this).val();
        $(this).parent().find('.placeholder').html(valeur);
    });

});



