/* DIVERS */

.mbot60 {margin-bottom:60px;}
.mtop60 {margin-top:60px;}
.mbot20 {margin-bottom:20px;}
.mbot10 {margin-bottom:10px;}
.mtop10 {margin-top:10px; }
.mtop20 {margin-top:20px;}
.pbot20 {padding-bottom:20px;}
.p15 {padding:15px}
.p60 {padding:60px;}
.clear {clear:both;}
.center {text-align:center;}
.justify {text-align:justify;}
.adam {font-family: 'Adam-Regular',Arial, Sans-Serif;}
.bold {font-weight:600.}
.light {font-weight:100;}
a.stsl  {color: #C8A010;}
.separator {
  min-height:5px;
  background: url('mydetective-trait.png') no-repeat center center;
  margin-top:50px;
  margin-bottom: 20px;
}
hr.gold {border-top:1px solid #C9A101; }

a.social-style {background-color:#C8A010; color:#000;font-size:16px;padding:3px;margin:5px;width:26px;height:26px;display:inline-block}

#cookieChoiceInfo a {color:#fff;}

/* HOME ADAPTATIONS */
#home .blocs-home .passion a{
    display: block;
    margin: 20px auto;
    width:158px;
    height:52px;
    line-height: 52px;
    background: #000;
    color:#fff;
    border:1px solid #FFF;
    font-size: 12px;
}
#home .blocs-home .passion a:hover{
    background: #FFF;
    color:#000;
    border:1px solid #FFF;
}

#home .blocs-home .picto, .petitblocgris .picto {
    max-height: 19px;
    width: auto;
}


button#link2:hover, button#link2:hover>a {background:#000;color:#fff;}

/* CORRECTIONS de style */

a, a:active, a:focus, button, button:active, button:focus {outline:none;}

ul.dropdown-menu {z-index:9999;}

.input-group textarea {
    padding-top:10px;
    line-height:25px;
}

.blocs-home .bloc .visu {
    margin-left: auto;
    margin-right: auto;
    max-height:190px;
}


header .navbar .categories2 {
    border-right: none;
}
header .navbar .focus {
    border-left: 1px solid #e5e5e5;
}

.input-group input[type=password],
.input-group input[type=tel]{
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    letter-spacing: 1px;
}

header .menu-type-site, .menu-type-site ul {z-index:0;}

header .recherche-top button, .header .recherche-top .input-group button {line-height: 2px !important;}

.input-group input[type=submit] {
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    background: #C9A101;
    font-size: 13px;
    letter-spacing: 1px;
    border: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

.lien-btn-or {text-align:center;}

.contactez-nous textarea {
    height: 440px;
}

.blocs-home .passion .slogan a {outline:none;}
.rond-blanc {
  display:inline-block;
  background:#fff;
  color:#C8A010;
  font-family: 'Adam-Regular',Arial, Sans-Serif;
  border-radius:90px;
  height:20px;
  width:20px;
  line-height:20px;
  text-align:center;
  margin:0 4px;
}
.rond-blanc>.rond-blanc {width:20px;margin:0 -3px;}

.article-similaire {margin-bottom:35px;}

.ariane span{text-transform: capitalize;}


/*.resultat .piece {min-height:240px;}*/

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {color: #aaa !important;}
input::-moz-placeholder, textarea::-moz-placeholder {color: #aaa !important;}
input:-moz-placeholder, textarea::-moz-placeholder {color: #aaa !important;}   /* Older versions of Firefox */
input:-ms-input-placeholder, textarea::-moz-placeholder {color: #aaa !important;}

.popover a:hover, .popover a:focus, .popover a:active {color:#c8a010;}

.my-detective .form-control {padding-top:0;}
.my-detective .input-group .divcheckbox label.urgent {width:auto;}

.header .recherche-top{
    position: absolute;
    right:0;
    top:50px;
}

footer .newsletter button {height:26px;}

/*BLOG */
.blog .bloc.grostexte img {max-height:135px;width:auto;}
.blog .article05 {padding: 50px;padding-top: 100px;}
.blog .article04 {padding:50px; padding-top: 180px;}
.bref li {
    list-style-image: url(blog-fleche-droite.png);
    padding-left: 5px;
    padding-bottom: 2px;
}
.blog .resume {font-size:0.6em; text-transform:none;text-align:center;padding-top:20px;}
.key {text-transform: uppercase;color:#C8A010;}
li.key, .blog .categorie li.key:hover, .blog .categorie li.active.key {background-color:transparent;}

/* ARTICLES */
.article .principal img:first-child {display:none !important;}
.article .principal img {max-width:100%;margin-right:15px;}
.keywords a:nth-child(n)::after {content:", "}
.keywords a:last-child::after {content:"."}
.article .carousel-inner > .item img {max-width:120px;}
.img-chapeau img.une {width:100%;}
.article .chapeau {margin-left: auto;margin-right: auto;width: 100%;}
.article .slide {border-bottom:0;min-height:230px; }
.article.categorie { border-top: 1px solid #d2d2d2;}
.partage-nb .twitter, .partage-nb .google {width:32px;}

/* Switch Langue */

/*header .menu-top .dropdown-menu {
    display: none;
    width: auto;
}
header .menu-top .dropdown-menu .dropdown.open {
    display: block;
    width: auto;
}*/

.switch {display:inline-block;}
.dropdown.lang, .select-currency {float:left;margin-top:6px;}
.dropdown.lang {margin-right:5px;}
.dropdown.lang ul {width:auto;background:#000;padding-top: 4px;}
.dropdown.lang ul>li {display:block}
.dropdown.lang a {color:#fff;margin-right:14px;}
.dropdown.lang ul>li a {color:#fff;margin:0;padding:0;margin-left:3px;margin-right:15px;}
.dropdown.lang img {margin-right:7px;}

/* SELECTEUR DE DEVISES */
.select-currency .chevron {float:left;margin-top:6px;}
.select-currency {margin-top:6px;}
select.currency-picker {
    margin-top:-6px;
    display: inline-block;
    -webkit-appearance:none;
    border:0;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    display: inline;
    width: auto;
    vertical-align: inherit;
    background-color: transparent;
    border: 0;
    outline:none;
    background : url('chevron.png') center left no-repeat;
    padding-left:15px;
    padding-right:12px;
    background-color: #000;
    height:30px;
    line-height:30px;
}

select.currency-picker option {
    background-color: #000;
    outline:none;
    border:none;
}

/*header .menu-type-site .dropdown.open ul {display:block;}*/

/* Pop Up Promo*/
#promoModal {margin-top:60px;}
#promo .modal-header {font-weight:600;text-align:center;text-transform:uppercase;background: #000;color:#fff;}
#promo .modal-body {text-align:center;}
#promo .modal-body h1 {margin-bottom:20px;}
#promo .promo-call a {
    display:block;
    background:#000;
    color:#fff;
    height:50px;
    line-height: 50px;
    text-transform:uppercase;
    margin-top:20px;
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    font-size: 13px;
    letter-spacing:1px;
    outline:none;
    }
#promo .promo-call a:hover {
    color:#C9A101;
    background:#fff;
    border:1px solid #C9A101;
}


/* 404 */
.erreur-404{
    background: #FFF;
}
.erreur-404 h1{
    margin-top: 60px;
}

.erreur-404 .recherche .input-group {
    width: 100%;
}

.erreur-404 .input-group-addon {
  line-height:50px;
}

/*.erreur-404 .input-group {display:block;border:1px solid #f5f5f5;margin-top:15px;width:50%;margin-left:auto;margin-right:auto;}
.erreur-404 .input-group input {width:85%;height:35px;}*/

/* mini search forms */
.erreur-404 .input-group, #collection .input-group {display:block;margin-left:auto;margin-right:auto;}
.erreur-404 .simple-form {border:1px solid #f5f5f5;margin-top:15px;}
.erreur-404 .input-group input{width:85%;height:35px;padding-top:18px;}
#collection .simple-form {border:1px solid #f5f5f5;}


/* PRODUITS ET BOUTONS */

#about ul, #about div  {display:none;}

.page-produit #slide-items-years .carousel-inner > .item img {max-width:120px;}
.page-produit .panier, #cart .panier{
    border:0;
    letter-spacing:1px;
    color:#1a181b;
    font-size: 13px;
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    height:50px;
    line-height: 50px;
    width:100%;
    margin-top:10px;
    background:#FFF;
}
.page-produit .panier, #cart .panier{
    background: #C9A101;
}

.page-produit .panier:hover,
.page-produit .panier:focus,
#cart .panier:hover,
#cart .panier:focus{
    color:#FFF;
    background:#000;
}

#cartModal .modal-content {margin-top:245px;/*background: url('grey-background.png');*/ text-align:center;}
#cartModal .modal-body h1 {margin-top:-20px;}
#cartModal .modal-lg {width:960px;}
#cartModal .modal-header {padding: 15px 15px 30px 15px;}
#cartModal .ajaxified-cart-feedback {font-family: 'Adam-Regular',Arial, Sans-Serif; font-size:1.3em;}
#cartModal h1 {margin-bottom:25px;}
#cartModal a.panier {padding:15px;font-size:14px;}
#cartModal a.wishlist {padding:15px;background:#f5f5f5;color: #333;font-family: 'Adam-Regular',Arial, Sans-Serif;margin-right:5px;font-size:14px}
#cartModal a.wishlist:hover, #cartModal a.wishlist:active, #cartModal a.wishlist :focus {background:#000; color:#fff;}

select#product-select {
  border:none;width:100%;height:30px;padding-left:8px; margin: 10px 0px 10px 0px;
}

.product-details {
  text-transform: capitalize;
}

.modal-dialog {
    margin: 10px auto;
}

img#zoompopup {
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.page-produit #window-zoom {/*height:498px;*/height: 448px;z-index:999;}

.recent.carousel-control.left{left:0px;}
.recent.carousel-control.right{right:0;}

button.panier:hover, button.wishlist:hover, button.panier:focus, button.wishlist:focus,
input.panier:hover, input.wishlist:hover, input.panier:focus, input.wishlist:focus{
    color: #FFF;
    background: #000;
}

button.wishlist,
input.wishlist{
    border: 0;
    letter-spacing: 1px;
    color: #1a181b;
    font-size: 13px;
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    height: 50px;
    line-height: 50px;
    width: 100%;
    margin-top: 10px;
    background: #FFF;
}
#wishlist.disabled {display:none;}

.grading-zone {margin:15px 0 0 0;width:100%;}
.grading-zone .well {margin-bottom:0; padding:0 15px;background:#fff;}
.grading-button {font-size:0.9em;width:100%;display:block;text-align:center;padding:5px 0; color:#C9A101;background: url('drop-or2.png') center right no-repeat #fff;}
.add-certif {padding: 8px 0;}
.certif-title {font-size:0.9em;}
.add-certif .prix {font-size:1em;margin-left:2px;}
.add-certif .more a {
  width:15px;
  height:15px;
  display:inline-block;
  text-align:center;
  font-weight:400;
  line-height:15px;
  margin-top:5px;
  border-radius: 25px;
  border-bottom:1px solid #ccc;
  margin-left:5px;
}

.add-certif input[type=checkbox] {
    visibility: hidden;
}

.checking {
    width: 25px;
    margin: 5px;
    position: relative;
  display:inline-block;
}

.checking label {
    cursor: pointer;
    position: absolute;
    width: 22px;
    height: 22px;
    top: 0;
    left: 0;
    background: #f5f5f5;
    border:1px solid #333;
}

.checking label:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
    top: 7px;
    left: 6px;
    border: 2px solid #000;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.checking input[type=checkbox]:checked + label:after {
    opacity: 1;
}

.page-produit .minibloc{
    height: 150px;
    font-family: 'Avenir-Light',Arial, Sans-Serif;
    font-size:12px;
    padding-top:0px;
}
.page-produit .minibloc strong{
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    font-weight: normal;
    font-size:1em;
}
.page-produit .minibloc strong.bigger{font-size:1.8em;}
.page-produit .minibloc img.feat {margin-left:auto;margin-right:auto;padding-top:5px;margin-bottom:10px;height:50%;width:auto;}

#sliderecent .carousel-control.left{left:0;}
#sliderecent .carousel-control.right{right:0;}


/*#latest-viewed-products img {width:60%;}*/

#latest-viewed-products img.none {border:1px solid #f5f5f5;margin-top:30px;}

/* WISHLIST & ALERTS IN ACCOUNT*/

#account .first.panier {
    background: #fff;
    width: 75%;
    height: 30px;
    line-height: 28px;
    color:#ccc;
    border:1px solid #ccc;
    border-right:0;
}
#account .first.panier input {
    background:none;
    text-align: center;
    border:none;
    text-transform:uppercase;
    outline:none;
}
#account .first.panier:hover, #account .first.panier:focus, #account .first.panier:active {outline:none;}
#account .first.panier input:hover, #account .first.panier input:focus, #account .first.panier input:active {color:#c9a100;}

#account .last.remove {text-align:center;line-height:28px;border:1px solid #ccc;}
#account .last.remove .fa {color:#ccc;width:100%;height:auto;}
#account .last.remove .fa:hover {color:#000;}

#account .contenu-produits-af3 .produit{
    border-bottom:0;
    border-top: 1px solid #cecece;
}

#account .contenu-produits-af3 .produit .favori {border-top:0;}

#account .last.remove {border:1px solid #ccc;line-height:26px;text-align:center;}
#account .last.remove input.cut  {border:0;background:#fff;outline:none;color:#ccc;width:400%;border:0;text-align:center;margin-left:auto;margin-right:auto;}
#account .last.remove input.cut:hover {color:#000;}

#account .remove-success>p, #account .remove-error>p {
  font-family: 'Adam-Regular',Arial, Sans-Serif;
  display:block;
  text-align:center;
  width:100%;
  height:200px;
  margin-left:auto;
  margin-right:auto;
  position:relative;
  bottom:105px;
  padding:15px;
  padding-top:50px;
  margin-bottom: -214px;
  color:#333;
  background:#fff;
  border-bottom:1px solid #c9a100;
}
#account button.voir-produit {background:#fff;}

#account .resultat.alerts .piece {min-height:100px}
#account .resultat.alerts .piece img {max-width:50%;margin-top:15px}
#account .resultat.alerts h2 { font-family: 'Adam-Regular',Arial, Sans-Serif;min-height:70px;padding-top:10px}
#account .resultat.alerts .contenu-produits-af3 .produit .detail {display:table;margin-left:auto;margin-right:auto;}
#account .wish-container.inactive {background: url('grey-background.png');}


#account .resultat.alerts .first.panier, #account .resultat.alerts .last.remove { background: #fff;color: #ccc;}
#account .resultat.alerts .inactive .first.panier, #account .resultat.alerts .inactive .last.remove { background: #f7f7f7;color: #ccc;}
#account .resultat.alerts .feedback {font-family: 'Adam-Regular',Arial; font-size:0.9em;color:#000;background:#fff;width:100%;display:table;position:relative;bottom:0px;margin-bottom:-100px;margin-right:auto;border-bottom:1px solid #c9a100;}
#account .wish-container.inactive .feedback {background: url('grey-background.png');}

/* FORMULAIRES, POP UP & FOOTER */

.feedback {padding:0.5em 0.7em;}
.feedback p {padding:0.5em 0 !important;margin:0 !important}
.successForm {font-family: 'Adam-Regular',Arial, Sans-Serif;background:#C9A101;color:black; position:fixed;left:0;top:30px;width:100%;height:auto;text-align:center;z-index:99999;}
.errorForm {font-family: 'Adam-Regular',Arial, Sans-Serif;background:#000;color:#fff; position:fixed;left:0;top:30px;width:100%;height:auto;text-align:center;border-top:2px solid red;z-index:99999;}
.wish .successForm, .wish .errorForm {display:block; position:initial;margin:5px 0;background:#fff;padding:15px;font-size:0.8em;color:#000;border:0;}

#alert-form, #optin-form, #friend-form, #certif {margin-top:150px;}
#alert-form .modal-header, #optin-form .modal-header, #friend-form .modal-header, .blog .modal-header, #certif .modal-header
{font-weight:600;text-align:center;text-transform:uppercase;background: #000;color:#fff;}

#alert-form .wishlist, #optin-form .wishlist, #friend-form .wishlist { width:100%; }
#alert-form .input-group, #optin-form .input-group, #friend-form .input-group {display:block;margin-right:10px;}
#optin-form .input-group, #friend-form .input-group {margin-top:25px;}

#alert-form input, #optin-form input, #friend-form input, #friend-form textarea {
  width:60%;
  border:1px solid #f7f7f7;
  margin-left:20%;
  text-align:center;
  padding-left:0;
}
#friend-form textarea {height:80px;}

#alert-form .divbutton, #optin-form .divbutton, #friend-form .divbutton {width:60%;text-align:center;margin-left:20%;}
#optin-form .divbutton {padding-left:0;}
#alert-form .divbutton button, #optin-form .divbutton button, #friend-form .divbutton button {margin-bottom:5px;}

#alert-form .modal-body, #friend-form .modal-body {padding-bottom:20px;}
#optin-form .modal-body {padding-bottom:0px;}

#alert-form .modal-footer, #friend-form .modal-footer, #optin-form .modal-footer, #certif .modal-footer {display:none;}
#alert-form .wishlist, #optin-form .wishlist {width:25%;border:1px solid transparent;font-weight:400;font-size:12px;margin-top:0;margin-bottom:0;}
#alert-form .wishlist:hover, #optin-form .wishlist:hover {background:none;border:1px solid #f5f5f5;color:#000;}

#optin-form label.error, #optin-form label.valid, #errors>p, #createalert h4, #sendfriend h4 {text-align:center;color:#000;width:60%;display:block;float:none;margin-left:20%;padding:2%;margin-top:-25px;border-bottom:1px solid #C8A010;margin-bottom:20px;font-weight:100;}
#optin-form label.error a:hover {color:#000!important;}
#createalert h4, #sendfriend h4, #errors>p {margin-top:0; font-weight:600;}
.resultat #createalert .modal-title {color:#fff;border:0;margin:0 auto;padding:0;text-align:center;font-weight:400;}
#createalert a.center {display:block;margin-bottom:2px;}

.resultat #createalert .form-control {margin:10px;margin-left:20%;margin-right:20%;}
.resultat #createalert .input-group .divbutton {padding-left:0;padding-bottom:0;}

footer .text-right {vertical-align:middle;margin-top:10px;}
footer form {vertical-align:middle;margin-top:4px;}
footer #mc-form input {height:26px;vertical-align:middle;line-height:14px;width:80%;}
footer #mc-form input[type="email"] {margin-top:2px;padding-left:4px;}
footer #mc-form label.valid, footer #mc-form label.error {background-color:#232325;color:#fff;padding:12px;width:80%;font-weight:100;position:relative;top:0;left:0;z-index:999;bottom:0;border:0px solid #C8A010;}
footer #mc-form label a {color:#fff;}
footer .bloc-join-us span>a {
  color:#fff;
  text-align:right;
  text-transform:uppercase;
}
footer .bloc-info a {color: #7c7c7d;}

.my-detective select.form-control.error, .my-detective .divcheckbox.error {border: 1px solid #C9A101;}
.my-detective .divcheckbox.error {padding-top:5px;margin-bottom:10px;}
.my-detective #caterror, .my-detective #qualerror {font-weight:600;line-height:25px;padding-left:5px;}
.my-detective h2.center {padding:20px;border:1px solid #C9A101;margin-top:-20px;text-transform:initial;width:60%;margin-left:20%}

select.form-control.expert {padding-top:0}

/* PRODUIT ZONE DETAILS */

.product-details h3, .product-description h3 {
    padding: 5px;
    line-height:5px;
    margin-top:0;
    margin-bottom:20px;
    border-bottom: 1px solid #C9A101;
}

.page-produit .description ul.details-default {
  margin-left:10px;
}
/* bouton cta services */
.detail.service .voir-produit{
    width: 100%;
    border: 1px solid #c9a100;
    background: #fff;
    font-family: 'Avenir-Light',Arial, Sans-Serif;
    font-size: 12px;
    height: 30px;
    line-height: 20px;
    margin-top: 10px;
  padding:0 40px;
}
.detail.service .voir-produit img {padding-top:4px;margin-right:5px;}
.detail.service .voir-produit:hover {color:#c9a100}

/* PRODUIT ZONE DESCRIPTION PREFIXES */

.product-description {text-align:justify;}
.product-description p::before {
  font-weight:400;
  font-family: 'Adam-Regular',Arial, Sans-Serif;
  font-size: 11px;
  text-transform:uppercase;
}
.product-description p#description::before {
  content:"Description : ";
}
.product-description p#head::before {
  content:"Head : ";
}
.product-description p#reverse::before {
  content:"Reverse : ";
}
.product-description p#headCaption::before {
  content:"Head Caption : ";
}
.product-description p#reverseCaption::before {
  content:"Reverse Caption : ";
}
.product-description p#notes::before {
  content:"Notes : ";
}
.product-description p#comment::before {
  content:"Comment : ";
}

/* PRODUIT AUTRES */

.page-produit .miniblocvague.alert{padding-top:12px;margin-bottom:0;}

/* PAGES SIMPLES */
.page .description strong {
  text-transform:uppercase;
}

.page .description h3{
    text-transform: uppercase;
    font-size: 14px;
    font-weight:bold;
    padding-bottom: 20px;
}

.page .form-control{
    margin: 10px;
}

.page .divbutton, .page-produit .divbutton{
    width: 60%;
    margin:0;
    margin-left:10px;
    padding:0;
}

/* ACCOUNT PAGES */
.account .description {padding:20px 0 60px 0}
.account .form-control {margin:10px 0 10px 0;}
.account .input-group {display:block; width:40%;margin-right:auto; margin-left:auto;}

.account input {text-align:center;}
.account .input-group input[type=password] {margin-top:15px;width:100%;}
.account .cancel {margin-top:20px;text-transform:uppercase;}

.account input.error {width:100%;margin:0px 0 10px 0;border:2px solid #C9A101;color:#000;}
.account .divbutton {
    width: 100%;
    margin:10px;
    margin-left:auto;margin-right:auto;
}
.account .errors, .account .success {border:1px solid #C9A101;padding:5px;}
#reset.account .errors, .account .success {border:1px solid #C9A101;padding:5px;text-align:center;}
.account .errors ul {list-style-type:none;text-transform:uppercase;width:100%;padding:0;margin:0;}
.account .success {width:40%;margin-left:auto;margin-right:auto;}
.account .success p {margin-bottom:0}
/*.account h2 {font-weight:400;color:#C9A101; border-bottom:0px solid #C9A101;  padding-top:0px;padding-bottom:0;}*/
.account .panel-group h2 {font-weight:400;color:#C9A101; border-bottom:0px; padding-top:0px;padding-bottom:0;background: url('fleche-bas-or.png')  no-repeat center right;}
.account .th {text-transform:uppercase;color: #000;margin-bottom:0px;padding-top:10px;font-family: 'Adam-Regular',Arial, Sans-Serif;}
.account .orders-zone .bordered {border-bottom:1px solid #eee;padding-bottom:20px;}
.account .address-zone a, .account .address-zone h4, .account label {font-family: 'Adam-Regular',Arial, Sans-Serif;}
.account .address-zone h4 {font-size:12px;}
.account label {font-size:10px; font-weight:500;margin-top:10px;margin-left:1px;}
.account .adress-bloc {float:left;}

.account .address-zone .input-group {width:100%;}
.account .address-zone input[type="checkbox"] {vertical-align:middle;margin-top:-4px;margin-left:1px;}
.account .address-zone input {text-align:left;}
.account .address-zone .divbutton {
    width: 30%;
    margin:10px;
    margin-left:0;
}
.account .address-zone label {margin-bottom:-10px;background:transparent;}
.account .address-zone .new-address {background-color:#fff;color:#000;text-align:center;padding:10px;}
.account .address-zone .new-address:hover,
.account .address-zone .new-address:focus,
.account .address-zone .new-address:active
{
  background-color:#000;color:#fff;
}

.account .logout
    {background-color:#000;color:#fff;padding:5px 10px;}
/*.account .logout:hover,
.account .logout:active,
.account .logout:focus
{
  background-color:#fff;color:#000;
}*/

.account .p60 {padding-top:10px;padding-bottom:10px;}
.account .orders-zone {padding:20px;}

.account .newsletter.input-group input[type="email"] {border:1px solid #ccc}
.account .newsletter.input-group label.error, .account .newsletter.input-group label.valid  {margin-bottom:30px;border:1px solid #C9A101;padding:5px;width:100%;text-align:center;}

.account .unsub {
display:block;
text-align:center;
    letter-spacing:1px;
    color:#1a181b;
    font-size: 0.8em;
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    line-height:20px;
    width:100%;
  border-bottom:1px solid #1a181b;
}


.billing.box, .shipping.box, .info.box {border:0px solid #ccc; padding:15px; padding-right:25px}
.infos.box {border:1px solid #C9A101;}
.order.info {padding-left:0}
.order.info li {list-style-type:none;}
.order.info span.text-uppercase {font-weight:500;}

#account.presentation .sous-menu {background:#fff;}
#account.presentation .sous-menu li {padding: 0px 15px; }
#account.presentation .sous-menu li.active {padding: 0 15px; background:#f7f7f7;}
.tab-content {background: #f7f7f7;padding:40px;margin-bottom:10px;}

#account .resultat {background:transparent;}
#account .contenu-produits-af3 .produit {border:none;}
#account .contenu-produits-af3 { margin-top: 30px;padding:0;}
#account .wish-container {background:#fff;margin:0px;padding:5px;border-top:7px solid #f7f7f7;}
/*#account .produit.col-sm-4 {width:30%;}*/
#account .resultat .piece {max-width:70%; margin-left:auto; margin-right: auto;min-height:200px;}
#account .contenu-produits-af3 .produit .favori { border: 1px solid #c9a100;margin-top:5px;margin-bottom:5px;}
#account .remove-success>p, #wishlist .remove-error>p {margin-bottom:-214px;}

#login .input-group input[type=text], #login .input-group input[type=email], #register .input-group input[type=text], #register .input-group input[type=email] {padding-left:0;}

.detail input.cart-image {
  background: url(resultat-bt-panier-noir.png) no-repeat center center;
  width:34px;
  height:30px;
 -webkit-appearance:none;
    border:0;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    color:transparent;
  outline:none;
  opacity:0.3;
    }
.detail input.wish-image {
  background: url(resultat-bt-favori-noir.png) no-repeat center center;
  width:34px;
  height:30px;
 -webkit-appearance:none;
    border:0;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    color:transparent;
  outline:none;
    opacity:0.3;
  margin-top:0;
    }
.detail input.wish-image.disabled {background: url(resultat-bt-favori-blanc.png) no-repeat center center;background-color:#C9A101;border:1px solid #C9A101;opacity:1;}
.detail input.wish-image.disabled:hover {background: url(resultat-bt-favori-noir.png) no-repeat center center; opacity:0.3;border:0;}
.detail input.cart-image:hover , input.wish-image:hover {opacity:1}
.opa {opacity:0.3;}
.opa:hover {opacity:1;}

.modal-body .page-produit .panier {margin-top:0px;text-align:center;}
.modal-body .bouton-raccourci .article {width:100%;}

.resultat .wish .successForm, .resultat .wish .errorForm {display:table;position:relative;min-width:162px;left:-52px;top:-5px;border:1px solid #C9A101;z-index:2;}

.contenu-produits .produit.simple {margin-left:0;}

.resultat .detail .voir-produit{color:#000;}
.resultat .detail .voir-produit:hover, .resultat .detail .voir-produit:focus, .resultat .detail .voir-produit:active{color:#c9a100;}


/* AFFICHAGE CONDITIONNEL DES BOUTONS WISHLIST ET ALERT */

.resultat .produit .detail .bouton div.first {margin-right:0.9%;}
.resultat .produit .detail .bouton div:nth-child(2) {margin-right:0.2%;padding-left:0.1%;}
.resultat .produit .detail .bouton div:nth-child(3) {margin-right:0%;margin-left:-1.1%;padding-left:0.8%}
.resultat .produit .detail .bouton div.last {margin-left:0%;text-align:right;}

.resultat .produit .detail .bouton div.sold-out {width:74.5%;padding-right:0%}
.resultat .produit .detail .sold.bouton div.last {margin-left:0%;float:left;width:24%;}

/* Alerte et Wishlist dÃ©sactivÃ©es */


/* Wishlist DÃ©sactivÃ©e seulement */


/* -------------------------------------------------- */


.resultat .produits .filtre-haut .sorting-container {float:right;}

.resultat .contenu-produits-af3 .detail .bouton div.first {margin-right:1%;margin-left:-0.5%}
.resultat .contenu-produits-af3 .detail .bouton div:nth-child(2) {margin-right:0.2%;padding-left:1%;;}
.resultat .contenu-produits-af3 .detail .bouton div:nth-child(3) {margin-right:0%;margin-left:0%;padding-left:0.8%}
.resultat .contenu-produits-af3 .detail .bouton div.last {margin-right:-0%;padding:0; width:24.3%;}

/* Alert Modal */
.resultat .produit .detail .bouton div:nth-child(2).modal, .resultat .contenu-produits-af3 .detail .bouton div .modal,
.resultat .contenu-produits-af3 .detail .bouton div .modal-body {width:500%;margin-left:34%;margin-right:auto;}
.resultat .contenu-produits-af3 .detail .bouton div .modal-header {width:200%;margin-left:auto;margin-right:auto;float:none;}
.resultat .detail .bouton div .modal-header {width:100%;float:none; font-family: 'Avenir-Light',Arial, Sans-Serif; font-weight:600;}
.resultat .detail .bouton div .modal-body {width:200%;float:none; font-family: 'Avenir-Light',Arial, Sans-Serif;}
.resultat .detail .bouton div .modal:hover {color:initial;font-style:normal;font-style:initial;font-family: 'Avenir-Light',Arial, Sans-Serif;}
.resultat .detail .bouton div .modal-body .center {width:100%;float:none;margin-bottom:15px;margin-left:auto;margin-right:auto;}
.resultat .detail .bouton div .modal-body .center h4 {
    text-align: center;
    color: #000;
    width: 60%;
    display: block;
    float: none;
    margin-left: 20%;
    padding: 2%;
    margin-top: 0px;
    border-bottom: 1px solid #C8A010;
    margin-bottom: 20px;
    font-weight: 600;
    }
.resultat .detail .bouton div .modal-body .center:after {clear:both;}
.resultat .produit .detail .bouton div:nth-child(2) .modal-body {margin-right:auto;margin-left:auto;padding-left:0;}
.resultat .detail .bouton div .modal-body .input-group {width:50%;float:none;display:inline-block;}
.resultat .detail .bouton div .modal-body .input-group hr {width:60%;}
.resultat .detail .bouton div .modal-body .input-group button {padding:0;}
.resultat .detail .bouton div .modal-body .input-group .divbutton {padding-left:0; padding-top:0;margin-top:10px;}

.contenu-produits-af5 .piece {min-height: 150px;}
.contenu-produits-af5 .piece {min-height: 150px;}
.contenu-produits-af3 .piece {min-height: 220px;}
.contenu-produits-af3 .titre {min-height: 50px;}

.form-sort label {margin-right:5px;}
.form-sort select {border:0;padding:5px;}

/* SIMPLE SEARCH PAGE */

/*button.opa {background:transparent;float:left;display:block;width:15%;}*/
.simple-form {width:100%; display:block;}
.simple-form .input-group-addon {width:5% !important;}
.simple-form .input-group .form-control {width:80%;margin:0}
.simple-form .input-group button {display:inline-block;width:15%;margin:0;}
.simple-form .input-group button:hover, .simple-form .input-group button:hover>a {background:#000;color:#fff;}

.resultat .wish .successForm, .resultat .spec-opa .wish .errorForm {z-index:1;}

/* CART */
.table.cart {border-collapse: separate; border-spacing: 10px;}
.table>thead>tr>td.bordered,
.table>tbody>tr>td.bordered,
.table>tfoot>tr>td.bordered {
  border: 1px solid #ccc;
  padding:15px;
  vertical-align:middle;
}
.table>tbody>tr>td.bordered:nth-child(3) {text-align:center;}
.table>tbody>tr>td.bordered:nth-child(5) {text-align:right;}
.table>tbody>tr>td.bordered:first-child {background-color:#fff;}
.table>tbody>tr>td.bordered:first-child img {margin-left:auto;margin-right:auto;}
.table.cart>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 1px solid #C9A101;
    color:#000;
    text-transform:uppercase;
    font-weight:400;
    font-family: 'Adam-Regular',Arial, Sans-Serif;
}
.table.cart>thead>tr>th.empty-cell {border-bottom:none;}

.table.cart>tbody>tr.total>td {border-top:none;}
.table.cart>tbody>tr.total>td:last-child,
.table.cart>tbody>tr.total>td:nth-child(4) {
  border-top: 1px solid #C9A101;
  font-family: 'Adam-Regular',Arial, Sans-Serif;
  text-align:right;
}
.table.cart>tbody>tr.total>td:last-child {text-align:right;}
.table.cart>tbody>tr.subtotal>td:last-child,
.table.cart>tbody>tr.subtotal>td:nth-child(4){
  text-align:right;border-top:1px solid #C9A101
}
.cart-remove {font-weight:100; color:#ccc;font-style:italic;font-size:0.9em;}
.cart-note, .cart-disclaim {padding:15px;border:1px solid #ccc;min-height:125px;}
.cart-note textarea.form-control {margin:10px 0 5px 0;}

#cart input.panier, #cart input.wishlist {width:24%;float:right;margin-left:1%;}

#cart h5.express {text-transform:uppercase;margin-top:25px;border-top:2px solid white; padding-top:10px;}

#cart .search a{
    background: #C9A101;
    border:0;
    line-height: 50px;
    margin-bottom: 25px;
    font-size: 13px;
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    padding:0px 15px;
    display:table;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}
#cart .search a:hover, #cart .search a:focus{
    color:#FFF;
    background: #000;
}


/* BLOG */
.blog .modal {top: 110px;}

/* LOYALLOCK */
.description iframe {border:1px dashed #C9A101;}

/* SOCIAL LOGIN */
#login iframe, #register iframe {border:none;}

#login #customer_login, #register #create_customer {margin-top:-50px;}


/* ALGOLIA */
        .all {
            cursor: pointer;
        }

        .facet-item {
            cursor: pointer;
            color: #2f2f2f;
            position: relative;
            padding-left: 12px;
        }
        .facet-item:before {
            content:"";
            position: absolute;
            width: 4px;
            height: 8px;
            top:-1px;
            left: 0;
            display: inline-block;
            background-image: url(next.png);
            background-repeat: no-repeat;
        }

        .categorieSelected {
            color: #c9a100;
        }
        .categorieSelected:before {
            width: 8px;
            height: 4px;
            left: -2px;
            background-image: url(resultat-fleche-bas-or.png);
        }

        /* Moteurs */
        header .recherche-top .form-control {display:block;height:35px;padding:3px;}
        #link {background:#fff;display:block;height:35px;padding:3px;line-height:27px;}
        #link:hover {background:#f5f5f5;}
        #link img {margin-left:7px;}

/* COLLECTIONS */
#collections .contenu-produits .row {background:#fff;}
#collections .padded {padding:40px;}
#collections .voir-produit{
    width: auto;
    border: 1px solid #c9a100;
    background: #fff;
    font-family: 'Avenir-Light',Arial, Sans-Serif;
    font-size: 12px;
    height: 30px;
    line-height: 20px;
    margin-top: 10px;
  padding:0 40px;
}
#collections .voir-produit img {padding-top:4px;margin-right:5px;}
#collections .voir-produit:hover {color:#c9a100}
#collections .collec-image {padding:20px;}
#collections .collec-image img {margin-left:auto; margin-right:auto;}
#collections h2 {
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    text-transform: uppercase;
    padding: 0 0 20px 0;
    margin: 0;
    letter-spacing: 1px;
    }
#collections .coll-count {display:inline-block;font-weight:600;font-family: 'Adam-Regular',Arial, Sans-Serif;}


/* FACETS */
#facetsContainer .facetFilter .ais-hierarchical-menu--item {
    display: block;
}

.facetFilter .facet-name {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
}

#indexType,
#imageDisplayMode{
    text-transform: uppercase;
}
#categories{padding-left: 10px;}

#priceChoice{
  max-height: none;
  overflow-y: auto;
}
.ais-price-ranges--item{
  display:block !important;
  margin-left: 10px;
}