@font-face {
    font-family: 'Adam-Regular';
    src: url('adam.cg_pro-webfont.eot');
    src: url('adam.cg_pro-webfont.eot?#iefix') format('embedded-opentype'),
        url('adam.cg_pro-webfont.woff2') format('woff2'),
        url('adam.cg_pro-webfont.woff') format('woff'),
        url('adam.cg_pro-webfont.ttf') format('truetype'),
        url('adam.cg_pro-webfont.svg#adam.cg_proregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'Avenir-Light';
    src: url('AvenirLTPro-Light_gdi.eot');
    src: url('AvenirLTPro-Light_gdi.eot?#iefix') format('embedded-opentype'),
        url('AvenirLTPro-Light_gdi.woff') format('woff'),
        url('AvenirLTPro-Light_gdi.ttf') format('truetype'),
        url('AvenirLTPro-Light_gdi.svg#AvenirLTPro-Light') format('svg');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family:'Avenir-Bold';
    src: url('AvenirLTPro-Black_gdi.eot');
    src: url('AvenirLTPro-Black_gdi.eot?#iefix') format('embedded-opentype'),
        url('AvenirLTPro-Black_gdi.woff') format('woff'),
        url('AvenirLTPro-Black_gdi.ttf') format('truetype'),
        url('AvenirLTPro-Black_gdi.svg#AvenirLTPro-Black') format('svg');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family:'Muchacho';
    src: url('Muchacho_gdi.eot');
    src: url('Muchacho_gdi.eot?#iefix') format('embedded-opentype'),
        url('Muchacho_gdi.woff') format('woff'),
        url('Muchacho_gdi.ttf') format('truetype'),
        url('Muchacho_gdi.svg#Muchacho-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    text-transform: uppercase;
    unicode-range: U+0020-20AC;
}

@font-face {
    font-family:'Avenir-BlackOblique';
    src: url('AvenirLTPro-BlackOblique.eot');
    src: url('AvenirLTPro-BlackOblique.eot?#iefix') format('embedded-opentype'),
        url('AvenirLTPro-BlackOblique.woff') format('woff'),
        url('AvenirLTPro-BlackOblique.ttf') format('truetype'),
        url('AvenirLTPro-BlackOblique.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0-10FFFF;
}

@font-face {
    font-family:'Avenir-Oblique';
    src: url('avenirltstd-oblique-webfont.eot');
    src: url('avenirltstd-oblique-webfont.eot?#iefix') format('embedded-opentype'),
        url('avenirltstd-oblique-webfont.woff') format('woff'),
        url('avenirltstd-oblique-webfont.ttf') format('truetype'),
        url('avenirltstd-oblique-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0-10FFFF;
}



/*****************************************************************GENREAL*********************************************************************/
body{
    font-family: 'Avenir-Light',Arial, Sans-Serif;
    color: #2f2f2f;
}
.form-control{
    border:0;
    border-right:0px;
    background: #FFFFFF;
    box-shadow: none;
}
.form-control:focus{
    box-shadow:none;
}
.modal-header{
    border:0;
}
.modal-content{
    border-radius: 0;
    box-shadow: 0;
}
.modal-lg{
    width:1024px;
}
.close{
    opacity:1;
}
.ariane{
    width: 100%;
    min-height: 40px;
    line-height: 40px;
    font-family: 'Avenir-Light',Arial, Sans-Serif;
    margin-bottom: 10px;
    border-bottom: 1px solid #D2D2D2;
    color: #bebdba;
}
.ariane strong{
    color: #000;
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    letter-spacing: 1px;
    padding: 0 7px;
}
.ariane span{
    padding: 0 7px;
}
.ariane .back{
    padding-bottom: 2px;
}
.ariane a{
    color: #bebdba;
}
.pagination{
    width: 100%;
    color:#000;
    height: 40px;
    line-height: 40px;
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    letter-spacing: 1px;
    margin-bottom: 50px;
    border-bottom: 1px solid #D2D2D2;
}
.pagination .view-all{
    font-family: 'Avenir-Light',Arial, Sans-Serif;
    text-transform: uppercase;
    text-align:center;
}
a{
    color: #000;
}
a:hover{
    color: #C6A300;
}
.padingation span{
    padding: 0 7px;
}
.back{
    padding-right:7px;
    padding-bottom: 5px;
}
.next{
    padding-left:7px;
    padding-bottom: 5px;
}
h1{
    text-align: center;
    font-family: 'Avenir-Light',Arial, Sans-Serif;
    text-transform: uppercase;
    font-size:18px;
    padding-bottom: 16px;
    background: url('mydetective-trait.png') no-repeat center bottom;
    margin-bottom: 50px;
}
h1 strong{
    display:block;
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    font-weight: normal;
    font-size:24px;
}
.img-lien{
    padding-bottom: 6px;
}
.lien-btn-or{
    border: 1px solid #c8a010;
    display: block;
    font-family: "Adam-Regular",Arial,sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin: 30px 0 0 0;
    padding: 10px 55px;
    text-transform: uppercase;
    width: 250px;
}
.clear{
    clear:both;
}

/*********************************************************FORMULAIRE********************************************************************/
::-webkit-input-placeholder {
    color:  #1a181b;
    opacity: 1;
}
:-moz-placeholder {
    color:  #1a181b;
    opacity: 1;
}
::-moz-placeholder {
    color:  #1a181b;
    opacity: 1;
}
:-ms-input-placeholder {
    color:  #1a181b;
    opacity: 1;
}
.input-group input[type=text],
.input-group input[type=email],
.input-group select {
    height:50px;
    line-height: 50px;
    padding-left: 20px;
    letter-spacing:1px;
}
.input-group select{
    display: inline-block;
    -webkit-appearance:none;
    border:0;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    color: #000;
    background: #FFF url('fleche-bas.png') no-repeat 96% center;
}
.input-group .divbutton{
    padding-top:20px;
    padding-left:20px;
    padding-bottom: 50px;
}
.input-group  button{
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    background: #C9A101;
    font-size: 13px;
    letter-spacing: 1px;
    border:0;
    width:100%;
    height:50px;
    line-height: 50px;
}
input[type=checkbox].css-checkbox {
    position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}
input[type=checkbox].css-checkbox + label.css-label {
    padding-left:35px;
    height:28px;
    display:inline-block;
    line-height:30px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-weight: normal;
    letter-spacing: 1px;
    vertical-align:middle;
    cursor:pointer;
}
input[type=checkbox].css-checkbox:checked + label {
    background-position: 0 -28px;
}
label.css-label {
    background-image:url('checkbox.png');
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.input-group .divcheckbox label{
    display:inline-block;
    width:70px;
    padding-left:20px;
    margin-top: 5px;
}
.input-group .divcheckbox{
    padding-bottom:20px;
    padding-left:10px;
}
.input-group textarea{
    width:100%;
    border:0;
    height: 320px;
    letter-spacing: 1px;
    line-height: 50px;
    padding-left: 20px;
}
.input_file {
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    position: relative;
}
.input_file {
    background:#FFF;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}
.input_file span:first-child {
    display: block;

}
.input_file span + span {
    background-color: #C9A101;
    color: #fff;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    width:62px;
    text-align: center;
    padding: 0 20px;
    font-family:'Avenir-Bold';
    font-size:20px;
    position: absolute;
    right: 0;
    top: 0;
}
.input_file input[type="file"] {
    cursor: pointer;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 500;
}



/*****************************************************************HEADER*********************************************************************/
header .menu-top{
    background: #000;
    height: 30px;
    color: #FFF !important;
}
header .menu-top nav{
    display:inline-block;
    float:right;
    height:30px;
}
header .menu-top-nav{
    margin-top:6px;
}
header .menu-top .inner{
    max-width: 960px;
    margin:0 auto;
}
header .menu-top a:hover,
header .menu-top a:focus {
    color: #FDE658 !important;
}
header .menu-type-site, .menu-type-site ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display:inline-block;
    position:relative;
    z-index:999;
}
header .menu-type-site li {
    display: inline-block;
    width: 70px;
    padding: 0;
    margin: 0;
}
header .menu-type-site img, header .menu-type-site span{
    padding-right:7px;
}
header .menu-type-site ul li {
    display: inherit;
    background: #000;
    padding: 3px 5px 3px 22px;
    margin: 0;
}
header .menu-type-site a {
    text-decoration: none;
    display: block;
    padding-top:6px;
    color:#FFF;
}
header .menu-type-site ul {
    position: absolute;
    display:none;
    text-align: left;
}
/*header .menu-type-site li:hover ul{
    display:block;
}*/
header .menu-type-site ul li a{
    padding: 3px 0;
    margin:0;
}
header .menu-top-nav > li {
    display: inline-block;
}
header .menu-top-nav > li + li {
    margin-left: 20px;
}
header .menu-top-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    color: #FFF;
}
header .menu-top-nav > li > a:hover,
header .menu-top-nav > li > a:focus {
    background-color: transparent;
    color: #FDE658;
}
.header{
    max-width: 960px;
    margin:0 auto;
    position: relative;
}
.header .logo{
    width: 368px;
    margin:48px auto 30px auto;
}
.header .recherche-top{
    position: absolute;
    right:0;
    top:70px;
}
.header .recherche-top .input-group button{
    line-height:25px !important;
}
header .recherche-top .input-group{
    width: 190px;
    height:25px;
    color:#000;
}
header .recherche-top .form-control{
    width:85%;
}
header .recherche-top button{
    width:15%;
    background: #FFF;
    border:0;
    height: 25px !important;
    line-height: 25px !important;
}
header .navbar{
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    font-size:12px;
    margin-bottom: 0;
    background: #F7F7F7;
    color: #333;
}
header .nav > li.dropdown.open {
    position: static;
}
header .nav > li.dropdown.open .dropdown-menu {
    display:table;
    width: 960px;
    left:0;
    right:0;
    margin:0 auto;
}
header .dropdown-menu>li {
    display: table-cell;
    padding-left:20px;
    line-height:18px;
}
header .dropdown-menu{
    display:none;
    width:960px;
    box-shadow:none;
    min-width:auto;
}
header .dropdown-menu > li > a:hover, header .dropdown-menu > li > a:focus, header .dropdown-menu a:hover, header .navbar .sous-liste a:hover, header .navbar .sous-liste a:focus{
    color:#c9a101;
    background:none;
}
header .dropdown-menu, .navbar-nav .open .dropdown-menu{
    padding-top:15px;
}
header .navbar-nav{
    max-width: 960px;
    width: 960px;
    margin:0 auto;
    clear: both;

}
header .navbar .sous-liste{
    padding:0;
}
header .navbar .sous-liste a{
    font-family: 'Avenir-Light',Arial, Sans-Serif;
    color: #232324;
    font-size: 12px;
    padding:0;
}
header .navbar .sous-liste .stsl a{
    color: #C8A010;

}
header .navbar .categories li a, header .navbar .categories2 li a{
   font-style: italic;
}
header .navbar .all a{
    text-transform: uppercase;
    font-style:normal !important;
}
header .navbar .sous-liste li{
    list-style-type: none;
    padding-bottom: 2px;
}
header .navbar .categories{
    border-left:1px solid #e5e5e5;
}
header .navbar .categories2{
    border-right:1px solid #e5e5e5;
}
header .navbar .focus-on li img{
    text-align: center;
    display:block;
    margin-left:15px;
    margin-top:10px;
    width:110px;
}
header .navbar .all img{
   padding-bottom:3px;
   padding-right:3px;
}
header .dropdown-menu .view-all{
    height:45px;
}
header .dropdown-menu .view-all img{
    padding-bottom: 5px;
    padding-right: 10px;
}
header .navbar .chevron{
    display:none;
}
header .navbar .open .chevron{
    display: block;
    position:absolute;
    top:37px;
    width:4%;
    height:9px;
    background: url('chevron-sous-menu.png') no-repeat center;
}
#navigation{
    border-bottom:1px solid #FFF;
}
header .navbar-default .navbar-nav > .active > a, header .navbar-default .navbar-nav > .active > a:hover, header .navbar-default .navbar-nav > .active > a:focus{
    background: #FFF;
    color:#000;
}
header .petitbloc{
    text-align: center;
    height:110px;
}
header .petitbloc a{
    color:#C6A300;
}
header .petitbloc2{

    background: url('grey-background.png') !important;
}
header .petitbloc2 a{
    color:#333;
}
header .petitbloc img{
    padding:10px;
}
header .petitbloc strong{
    letter-spacing: 1px;
}


/*****************************************************************HOME*********************************************************************/
.container-home-top{
    position: relative;
}
.home #slide .carousel-control.left, .carousel-control.right{
    background-image:none;
    opacity: 1;
}
.home #slide .carousel-control .iconprev,
.home #slide .carousel-control .iconnext{
    position: absolute;
    top: 39%;
    width:42px;
    height:108px;
}
.home #slide .carousel-control .iconprev{
    left:0;
}
.home #slide .carousel-control .iconnext{
    right:0;
}
.home #slide .carousel-caption{
    text-shadow: none;
    padding-bottom: 10%;
}
.home #slide .carousel-caption h2{
    color: #c8a010;
    font-family:  'Adam-Regular',Arial, Sans-Serif;
    font-size: 45px;
    padding-bottom: 5px;
}
.home #slide .carousel-caption h3{
    font-size:15px;
    color:#000;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.home #slide .carousel-caption a img{
    padding-bottom:5px;
    padding-right:5px;
}
.home #slide .carousel-caption a{
    color: #c8a010;
    text-transform: uppercase;
    font-size:12px;
}
.home .recherche{
    width: 893px;
    position: absolute;
    top:410px;
    left:30px;
}
.home .recherche .input-group{
    width:100%;
}
.home .input-group-addon{
    background: #FFF;
    border:0;
    width:50px;
    margin:0;
    padding:0;
    height:50px;
    line-height: 50px;
    float:left;
}
.home .recherche input[type=search]{
    max-width: 685px;
    float:left;
    height: 50px;
}
.home .recherche button{
    width: 158px;
    height: 50px;
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    color: #000;
    border:0;
    background: #C9A101;
}
.home .input-group-addon, .home .input-group-btn, .home .input-group .form-control{
    display: inline-block;
}
.blocs-home{
    width: 974px;
    text-align: center;
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    margin-top:7px;
    font-size:18px;
    line-height: 21px;
}
.blocs-home .view-all img{
    padding-bottom: 3px;
    padding-right: 8px;
}
.blocs-home a{
    color: #2f2f2f;
}
.blocs-home a:hover, .blocs-home a:focus{
    color: #C9A101;
}
.blocs-home .picto, .petitblocgris .picto{
    display:block;
    margin:0 auto 7px auto;
}
.blocs-home strong{
    font-size: 24px;
    font-weight: normal;
}
.blocs-home .passion{
    margin-bottom:7px;
    background: #000;
    height:317px;
    color:#FFF;
    padding:30px;
}
.blocs-home .passion .slogan{
    display:block;
    font-family: 'Avenir-Light',Arial, Sans-Serif;
    margin-top:25px;
    margin-bottom:25px;
    font-size:12px;
}
.blocs-home .passion .slogan a{color:#FFF;}
.blocs-home .passion .slogan a:hover,.blocs-home .passion .slogan a:focus{color:#C6A300;}
.blocs-home .passion .tiret{
    display:block;
    font-family: 'Avenir-Light',Arial, Sans-Serif;
    font-size: 12px;
    margin-bottom:10px;
}
.blocs-home .passion button{
    display: block;
    margin: 20px auto;
    width:158px;
    height:52px;
    line-height: 52px;
    background: #000;
    border:1px solid #FFF;
    font-size: 12px;
}
.blocs-home .passion button:hover{
    background: #FFF;
    color:#000;
    border:1px solid #FFF;
}
.blocs-home .bloc{
    background: #FFF;
    height:309px;
    padding:30px 20px;
    color: #2f2f2f;
    margin-bottom: 7px;
}
.blocs-home .bloc .item img{
    margin:15px auto;
}
.blocs-home .bloc .carousel-control{
    padding-top:70px;
}
.blocs-home .bloc .produit{
    padding-top:20px;
}
.blocs-home .portraitgris{
    background: #F7F7F7;
}
.blocs-home .portraitvague{
    background: url('grey-background.png') !important;
}
.blocs-home .bloc .visu{
    margin-top:15px;
}
.blocs-home .petitbloc{
    min-height:153px;
    background: #FFF;
    color: #2f2f2f;
    margin-bottom: 7px;
}
.blocs-home .petitbloc .produit{
    display:block;
    width:57px;
    margin:0 auto 6px auto;
    padding-top:20px;
}
.blocs-home .blocbackground{
    height:313px;
    background: url('medieval-background.jpg');
    margin-bottom: 7px;
    padding-top:130px;
}
.blocs-home .gris{
    background: #F7F7F7;
}
.blocs-home .gris .picto{
    padding-top: 60px;
    padding-bottom: 15px;
}

.blocs-home .blocbackground a{
    color: #FFF;
    text-shadow: 2px 2px 20px #000;
}
.blocs-home .blocbackground a:hover, .home .blocbackground a:focus{
    color: #000;
    text-shadow: 2px 2px 20px #FFF;
}
.blocs-home .bankenotes{
    height:158px;
    background: url('bankenote-background.jpg');
    padding-top:55px;
}
.blocs-home .russian{
    height:158px;
    background: url('russian-background.jpg');
    padding-top:55px;
}
.blocs-home .about{
    background: #FFF;
    padding:20px;
    font-family: 'Avenir-Light',Arial, Sans-Serif;
    font-size: 12px;
    margin-bottom:10px;
    color:#2f2f2f;
}
.blocs-home .petitblocgris{
    padding:25px;
    background: url('grey-background.png') !important;
}
.blocs-home .texte{
    font-family: 'Avenir-Light',Arial, Sans-Serif;
    font-size:12px;
    line-height: 12px;
}
.blocs-home .rare{
    height:314px;
}
.blocs-home .gold{
    padding-top:35px;
}
.blocs-home .french{
    background: url('french-background.jpg');
}
.blocs-home .bridge{
    background: url('bridge-background.jpg');
}
.blocs-home .bureau{
    background: url('contact-bureau.jpg');
}
.blocs-home .bloc-chiffre{
    font-family: 'Avenir-Light',Arial, Sans-Serif;
    font-size:12px;
    letter-spacing: 1px;
    line-height: 14px;
}
.blocs-home .bloc-chiffre strong{
    display:block;
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    font-weight: normal;
    font-size:69px;
    padding-bottom: 35px;
    padding-top:50px;
    color: #C6A300;
}
.blocs-home .bloc-or{
    background: #C9A101;
    color:#FFF;
    font-style: italic;
    font-family: "Avenir-Light",Arial,sans-serif;
    font-size: 13px;
    line-height: 20px
}


/*****************************************************************INSPIRATION*********************************************************************/
.inspiration{
    background: #FFF;
}
.inspiration .erreur .visu-erreur-hover, .inspiration .erreur:hover .visu-erreur{display:none;}
.inspiration .erreur:hover .visu-erreur-hover{display:block;margin:15px auto;}

.inspiration .hole .visu-hole-hover, .inspiration .hole:hover .visu-hole{display:none;}
.inspiration .hole:hover .visu-hole-hover{display:block;margin:15px auto;}

.inspiration .mask .visu-mask-hover, .inspiration .mask:hover .visu-mask{display:none;}
.inspiration .mask:hover .visu-mask-hover{display:block;margin:15px auto;}

.inspiration .greek .visu-greek-hover, .inspiration .greek:hover .visu-greek{display:none;}
.inspiration .greek:hover .visu-greek-hover{display:block;margin:15px auto;}









/*****************************************************************INSPIRATION DETAIL*********************************************************************/
.inspiration-detail .carousel-indicators li{
    width:10px;
    height:10px;
    background: url('pager.png') no-repeat;
}
.inspiration .slide{
    height:380px;
}
.inspiration-detail .carousel-indicators li.active{
    background: url('pager-active.png') no-repeat;
}
.inspiration-detail .carousel-control.left{
    top:120px;
    left:-38px;
}
.inspiration-detail .carousel-control.right{
    top:120px;
    right:-38px;
}
.inspiration-detail .carousel-inner{
    text-align: center;
}
.inspiration-detail .carousel-inner > .item{
    padding-top:50px;
}
.inspiration-detail .carousel-inner > .item img{
    display:inline-block;
    padding:10px;
    text-align: center;
}
.inspiration-detail .detail{
    padding-top:25px;
    padding-left:25px;
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    font-size:12px;
    color: #1A1A1C;
    letter-spacing: 1px;
}
.inspiration-detail .detail h1{
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    font-size:18px;
    padding-bottom: 25px;
}
.inspiration-detail .detail button{
    width:100%;
    background: #C9A101;
    border:0;
    line-height: 50px;
    margin-bottom: 25px;
}
.inspiration-detail .detail button:hover,.inspiration-detail .detail button:focus{
    color:#FFF;
    background: #000;
}
.inspiration-detail .detail .partage{
    padding-top: 25px;
    border-top:1px solid #d2d2d2;
}
.inspiration-detail .detail .partage img{
    padding-right: 5px;
}
.bloc.hover a{
    /*background: #C6A300;
    opacity: 0.9;*/
    color:#C6A300;
}
.blocs-home .comptoir{
    background: url('presentation-comptoir.png');
}
.blocs-home .revolution{
    background: url('contact-revolution.jpg');
}



/*****************************************************************PRESENTATION*********************************************************************/
.presentation{
    background: #FFF;
}
.presentation .citation{
    background: url('presentation-slide-background.jpg');
    min-height: 396px;
    margin-bottom: 10px;
    text-align: center;
    padding-top:80px;
    padding-bottom:40px;
}
.presentation .citation .texte{
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    font-size:20px;
    color:#FFF;
    margin-top:30px;
    margin-bottom: 20px;
    background:
        url("presentation-fleche-gauche.png") no-repeat scroll 10% top,
        url("presentation-fleche-droite.png") no-repeat scroll 90% top;
}
.presentation .citation .auteur{
    color:#FFF;
    font-family: 'Avenir-Light',Arial, Sans-Serif;
    font-size:12px;
}
.presentation .sous-menu{
    border-top: 1px solid #d2d2d2;
}
.presentation .sous-menu ul{
    margin:0;
    padding:0;
}
.presentation .sous-menu li{
    display:inline-block;
    padding:0 20px;
    line-height: 32px;
}
.presentation .sous-menu li.active{
    background: #F7F7F7;
}
.presentation .sous-menu a {
    color: #1a171b;
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    font-size:12px;
    letter-spacing: 1px;
}
.presentation .sous-menu a:hover, .presentation .sous-menu a:focus {
    color: #C6A300;
}
.presentation h2{
    padding-top:20px;
    text-transform: uppercase;
    font-size:15px;
    padding-bottom: 10px;
}
.presentation .description{
    background: #F7F7F7;
    padding:20px 45px 60px 60px;
    letter-spacing: 1px;
}
.presentation .illu{
    padding-top:200px;
    padding-left:50px;
}
.presentation .illu2{
    padding-top:100px;
}
.presentation .carte{
    background: url('presentation-carte.png');
}
.presentation .france{
    padding-top:150px;
    background: #F7F7F7 url('presentation-france.jpg') no-repeat center;
}
.presentation ul{
    margin-top:0;
    padding:0 0 0 10px;
}
.presentation .village{
    background: url('presentation-village.png');
}
.presentation .colore{
    background: #FFF;
}
.presentation .colore a{
    color: #C6A300;
}
.presentation .colore a {
    color: #C6A300;
}
/*****************************************************************PAGE PRODUIT*********************************************************************/
.page-produit, .page-produit .produit{
    background: #FFF;
}
.page-produit #window-zoom {
    max-width:100%;
    height: 430px;
    background-color: #FFFFFF;
    position: absolute;
    overflow: hidden;
}
.page-produit #window-zoom img {
    position: relative;
}
.page-produit #container-zoom {
    position: relative;
    left: 0;
    top: 0;
}
.page-produit #preview-zoom img{
    margin-bottom:8px;
}
.page-produit #preview-zoom {
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    display: none;
    z-index: 999;
    color: #232324; #bebdba;
    text-align: center;
    letter-spacing: 1px;
    padding-top:50px;
    cursor:pointer;
}
.page-produit #image-produit{
    width: 400px;
    margin:40px auto;
}
.page-produit .descriptif-produit{
    width: 100%;
    background: url('grey-background.png');
    min-height: 270px;
    z-index:0;
    padding:25px;
}
.page-produit .reference{
    color: #1a181b;
    font-size:15px;
    font-family: 'Avenir-Light',Arial, Sans-Serif;
    letter-spacing: 1px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.page-produit h1.nom-produit{
    color: #1a181c;
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    font-size:20px;
    letter-spacing: 1px;
    margin:0;
    padding:0;
    padding-bottom: 10px;
    line-height: 20px;
    background: none;
    text-align: left;
}
.page-produit .prix{
    color: #c8a010;
    letter-spacing:1px;
    font-size: 20px;
    font-family: 'Avenir-Dark',Arial, Sans-Serif;
}
.page-produit button.panier, .page-produit button.wishlist, .page-produit button.vendu{
    border:0;
    letter-spacing:1px;
    color:#1a181b;
    font-size: 13px;
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    height:50px;
    line-height: 50px;
    width:100%;
    margin-top:10px;
    background:#FFF;
}
.page-produit button.panier{
    background: #C9A101;
}
.page-produit button.vendu{
    color:#FFF;
    background: #000;
}
.page-produit button.panier:hover, .page-produit button.wishlist:hover,
.page-produit button.panier:focus, .page-produit button.wishlist:focus{
    color:#FFF;
    background:#000;
}
.page-produit .detail{
    font-size:12px;
    color: #232324;
    letter-spacing:1px;
    line-height: 16px;
    font-family: 'Avenir-Light',Arial, Sans-Serif;
    padding-top:20px;
    padding-bottom: 20px;
}
.action .partage{
    padding-top: 25px;
    border-top:1px solid #d2d2d2;
}
.action .partage img{
    padding-right: 5px;
}
.action a{
    font-family: 'Adam-Regular',Arial, Sans-Serif;
}
.page-produit .petitzoom{
    cursor: pointer;
}
.page-produit .miniature img{
    margin-right: 10px;
    padding:3px;
    border:1px solid #d2d2d2;
    cursor: pointer;
}

.page-produit .sous-menu{
    margin-top:30px;
    background: #FFF;
    border-top: 1px solid #d2d2d2;
}
.page-produit .sous-menu ul{
    margin:0;
    padding:0;
}
.page-produit .sous-menu li{
    display:inline-block;
    padding:0 15px;
    line-height: 32px;
}
.page-produit .sous-menu li.active{
    background: #F7F7F7;
}
.page-produit .sous-menu a {
    color: #1a171b;
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    font-size:12px;
    letter-spacing: 1px;
}
.page-produit .sous-menu a:hover, .page-produit .sous-menu a:focus {
    color: #C6A300;
}
.page-produit .description{
    background: #F7F7F7;
    padding:20px;
    letter-spacing: 1px;
    margin:0;
}
.page-produit .description a{
    color: #2f2f2f;
}
.page-produit .description a:hover,
.page-produit .description a:focus {
    color: #c6a300;
}
.page-produit .sell{
    color:#FFF;
    background: url('produit-slide-background.jpg') right;
    padding-top:90px;
}
.page-produit .sell a{
    color: #FFF;
}
.page-produit .sell a:hover, .page-produit .sell a:focus{
    color: #C9A101;
}
.page-produit .pagination{
    margin-bottom: 0;
}
.page-produit .miniblocvague{
    background: url('grey-background.png') !important;
    height: 150px;
    font-family: 'Avenir-Light',Arial, Sans-Serif;
    font-size:12px;
    padding-top:30px;
}
.page-produit .miniblocvague strong{
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    font-weight: normal;
}
.page-produit .beige{
    margin-top:7px;
    background: #F7F7F7;

}
.page-produit .petitbloc{
    padding-top:30px;
}
.page-produit .slide{
    min-height:230px;
    margin-bottom: 10px;
}
.page-produit .carousel-indicators li.active{
    background: url('pager-active.png') no-repeat;
}
.page-produit .carousel-control.left{
    top:10px;
    left:-58px;
}
.page-produit .carousel-control.right{
    top:10px;
    right:-58px;
}
.page-produit .carousel-inner{
    text-align: center;
}
.page-produit .carousel-inner > .item{
    padding-top:0;
    min-height:230px;
}
.page-produit .carousel-inner > .item img{
    display:inline-block;
    padding:10px;
    text-align: center;
}
.popover{
    font-family: 'Avenir-Light',Arial, Sans-Serif;
    font-size:12px;
    width:184px;
    box-shadow: none;
    border-radius: 0;
    padding-top: 5px;
}
.popover a{
    display:block;
    width:155px;
    background:#FFF;
    border:1px solid #000;
    margin-top: 10px;
    height:34px;
    line-height:30px;
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    color:#000;
}
.popover img{
    margin-bottom: 5px;
    margin-left:30px;
}
.page-produit .onglet li{
    color: #1a171b;
    font-family: "Adam-Regular",Arial,sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
    cursor: pointer;
}
.page-produit .onglet li:hover{
    color: #c6a300;
}
.page-produit #commentaire, .page-produit #paiement, .page-produit #certification, .page-produit #garanties, .page-produit #expert{
    display:none;
}
.page-produit .description strong{
    text-transform: uppercase;
    font-weight: normal;
}
.page-produit .description ul{
    padding:0 0 0 10px;
    margin:0;
}
.page-produit .description .chevron{
    padding-bottom:3px;
}
.page-produit .description h3{
    text-transform: uppercase;
    font-size: 14px;
    font-weight:bold;
    padding-bottom: 20px;
}
.page-produit .form-control{
    margin: 10px;
}
.page-produit .divbutton{
    width: 259px;
    margin:0;
    padding:0;
}



/*****************************************************************MY DETECTIVE*********************************************************************/
.my-detective{
    background: #FFF;
}
.my-detective .citation{
    background: url('grey-background.png');
    min-height: 396px;
    text-align: center;
    padding-top:60px;
    padding-bottom:40px;
}
.my-detective .citation .texte{
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    font-size:20px;
    color:#000;
    margin-top:30px;
    margin-bottom: 15px;
}
.my-detective .citation .auteur{
    color:#000;
    font-family: 'Avenir-Light',Arial, Sans-Serif;
    font-size:12px;
}
.my-detective .petitblocor{
    padding:25px;
    background:#FFF;
    color: #C9A101;
}
.my-detective .petitblocor img{
    padding-bottom: 10px;
}
.my-detective .grosblocor{
    background: #C9A101;
    color:#FFF;
    height:314px;
}
.my-detective .grosblocor table{
    font-family: 'Avenir-Light',Arial, Sans-Serif;
    font-size:12px;
    line-height: 13px;
    text-align: left;
    margin:0 auto;
}
.my-detective .grosblocor table td{
    padding:10px;
}
.my-detective .detective{
    background: url('mydetective-detective.png');
}
.my-detective h2{
    padding-top:20px;
    text-transform: uppercase;
    font-size:15px;
    padding-bottom: 10px;
}
.my-detective .description{
    background: #F7F7F7;
    padding:20px 45px 60px 60px;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
.my-detective .description .logo{
    padding-bottom: 15px;
}
.my-detective .description .illu{
    padding-top: 25px;
}
.my-detective .votre-recherche{
    background: #F7F7F7;
    margin-top: 40px;
    margin-bottom:40px;
    padding-top:60px;
    padding-bottom: 20px;
}
.my-detective .ajout{
    height:50px;
    line-height: 50px;
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    font-size:12px;
    border-top: 1px solid #D2D2D2;
    border-bottom: 1px solid #D2D2D2;
    margin-top:20px;
}
.my-detective .ajout img{
    padding-bottom: 8px;
}
.my-detective .mention{
    font-family: 'Avenir-Light',Arial, Sans-Serif;
    font-size: 10px;
}
.my-detective .votre-recherche .divprec, .my-detective .votre-recherche .divcat{
    padding-right:20px;
}
.my-detective .votre-recherche .divemail, .my-detective .votre-recherche .divcom{
    padding-top:20px;
}

/*****************************************************************NOS GARANTIES*********************************************************************/
.garanties{
    background: #FFF;
}
.garanties h1{
    margin-top: 60px;
}
.garanties h2{
    text-transform: uppercase;
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    font-weight: normal;
    font-size:20px;
    padding:0 0 18px 0;
    margin:0;
}
.garanties .picto{
    text-align: right;
    background: url('garanties-separateur.png') no-repeat top right;
    padding-top: 40px;
}
.garanties .picto img{
    padding-right:4px;
}
.garanties .texte{
    padding: 0 0 50px 30px;
    max-width: 600px;
    letter-spacing: 1px;
}
.garanties .contact div{
    max-width: 740px;
    margin:0 auto;
}
.garanties .mention{
    line-height:30px;
}
.garanties .contact a{
    display:block;
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    font-weight: normal;
    font-size:12px;
    text-transform: uppercase;
    border:1px solid #C8A010;
    padding: 10px 50px;
    margin:25px auto 60px auto;
    width: 250px;
}



/*****************************************************************VENDRE*********************************************************************/
.vendre{
    background: #FFF;
    padding-bottom: 50px;
}
.vendre .banniere{
    background: url('vendre-banniere.png') no-repeat center;
    min-height: 369px;
    margin-bottom: 0;
    text-align: center;
    padding-top:40px;
    padding-bottom:0;
}
.vendre .banniere .picto{
    display:block;
    margin:0 auto;
    padding-bottom:20px;
}
.vendre .banniere h1{
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    font-size:20px;
    color:#c8a010;
    background: none;
    line-height: 26px;
    letter-spacing: 2px;
    margin-top:20px;
    margin-bottom: 0;
}
.vendre .banniere .intro,
.vendre .blocs-home .intro{
    font-family: 'Avenir-Light',Arial, Sans-Serif;
    font-size:12px;
    line-height: 14px;
}
.vendre .banniere a, .immediat a{
    display:block;
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    font-weight: normal;
    font-size:12px;
    text-transform: uppercase;
    border:1px solid #C8A010;
    padding: 10px 50px;
    margin:25px auto 60px auto;
    width: 250px;
}
.vendre .grosblocgris{
    background: #F7F7F7;
}
.vendre .jeu{
    background: url('vendre-jeu-background.jpg');
}
.vendre .petitblocblanc{
    padding-top:35px;
    color:#c8a010;
    min-height:148px;
}
.vendre .petitblocor{
    color:#FFF;
    background: #c8a010;
    padding-top: 25px;
}
.vendre .garanties h1{
    padding: 10px;
}
.vendre .garanties table .titre{
    text-align: center;
    font-family: 'Avenir-Light',Arial, Sans-Serif;
    text-transform: uppercase;
    font-size:18px;
    padding-bottom: 16px;
    line-height: 20px;
    color:#19171A;
}
.vendre .garanties table .titre strong{
    display:block;
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    font-weight: normal;
    font-size:24px;
}
.vendre table{
    width: 100%;
    text-align: center;
}
.vendre table td, .vendre table th{
    border:1px solid #d2d2d2;
}
.vendre table td{
    padding:5px;
}
.vendre table th{
    font-weight: normal;
    height: 60px;
    padding-left:15px;
    padding-right:10px;
    border-right: 0;
}
.vendre table .titre{
    height:100px;
}
.vendre table th.titre{
    border-top:0;
    border-left:0;
}
.vendre table .numiscorner{
    background: url('grey-background.png');
    margin-right: 20px;
    text-align: center;
    width:30%;
    border-right:0;
    border-left:0;
}
.vendre table th.numiscorner,.vendre table th.sep{
    border-top:0;
    padding:0;
}
.vendre table .numiscorner img{
    display:block;
    margin:0 auto;
}
.vendre table .marche{
    width:30%;
}
.vendre table .sep{
    border-left:0;
    width: 8px;
}

.procedure{
    background: #F7F7F7;
}
.procedure h1{
    margin-top: 70px;
}
.numero{
    border:1px solid #c8a010;
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    padding:10px;
    width:45px;
    height:45px;
    line-height: 45px;
    padding:0;
    font-size: 30px;
    color: #C8A010;
    margin:10px auto;
    text-align: center;
}
.procedure h2{
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    color: #C8A010;
    font-size: 12px;
    padding-bottom: 20px;
}
.procedure .blocgris{
    background: transparent;
}
.procedure .blocblanc{
    background: #FFF;
}
.procedure .texte{
    letter-spacing: 1px;
    line-height: 17px;
}
.procedure .immediat .texte{
    padding-top:25px;
    padding-bottom: 30px;
}
/*****************************************************************PAGES CONTACT*********************************************************************/
#carte{
    margin:0 0 10px 0;
}
.contactez-nous{
    background: #F7F7F7;
    margin-bottom: 10px;
    padding-top:50px;
    padding-bottom: 50px;
}
.contactez-nous .intro{
    display:block;
    margin:0 auto;
    text-align: center;
    padding-bottom: 50px;
}
.contactez-nous .boutonsubmit{
    display:block;
}
.contactez-nous .submit{
    width:250px;
    margin-right:0;
    margin-left: auto;
}
.contactez-nous input[type=text], .contactez-nous input[type=email]{
    margin-bottom:15px;
}
.contactez-nous .select{
    padding-bottom: 15px;
    height:65px;
}
.contactez-nous .col1{
    padding-right: 7px;
}
.contactez-nous .col2{
    padding-left: 7px;
}
.contactez-nous textarea{
    height:375px;
}
.contactez-nous .mention{
    display:block;
    padding-top:8px;
    font-size:10px;
}
.nos-magasins .N{
    margin: 45px 0 10px 0;
}
.nos-magasins h2{
    padding:0;
    margin:0;
}
.nos-magasins .horaires{
    display:block;
    padding-top:20px;
    color: #C8A010;
}
.nos-magasins .cles{
    padding-top:45px;
}
.professionnels h2{
    padding:0;
    line-height: 20px;
}
.professionnels .numero{
    margin-left: 0;
}
.professionnels h3{
    font-size: 15px;
    line-height: 20px;
    margin-left:15px;
    margin-top:12px;
    text-transform: uppercase;
}
.presentation .ans{
    background: url('contact-40ans.jpg');
}
.service-client .description, .nos-magasins .description, .professionnels .description, .presse .description{
    padding:40px !important;
    margin-bottom: 10px;
}
.presse .logonumiscorner{
    display:block;
    margin-top:20px;
}
.carriere .lien-btn-or{
    padding-left:75px;
}


/*****************************************************************BLOG*********************************************************************/
.img-chapeau{
    position:relative;
}
.article{
    background:#FFF;
}
.article .chapeau{
    max-height: 396px;
    text-align: center;
    padding-top:60px;
    position:absolute;
    top:0;
    color:#FFF;
}
.article .chapeau h1{
    font-weight: normal;
    font-family: 'Muchacho',Arial, Sans-Serif;
    font-size:56px;
    letter-spacing: 3px;
    line-height: 53px;
    text-transform: uppercase;
    background: none;
    margin:15px 20% 15px 20%;
}
.article h2{
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    font-size:20px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 1px;
    color:#000;
    padding: 30px 0 30px 30px;
    border-bottom: 1px solid #d2d2d2;
}
.article h3{
    font-family: 'Avenir-Bold',Arial, Sans-Serif;
    font-weight: normal;
    letter-spacing:0;
    font-size:16px;
    line-height: 20px;
    text-transform: uppercase;
    padding-top:25px;
}
.article .principal{
    padding-right: 25px;
}
.article .contenu{
    padding: 30px 0 30px 30px;
    letter-spacing: 1px;
}
blockquote{
    border-left: 1px solid #d2d2d2;
    font-size: 12px;
    font-style: italic;
    margin-top: 25px;
    padding: 0px 17px;
}
.article h4{
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    font-size:12px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 1px;
    padding:0;
    margin:0;
    color:#000;
}
.bref{
    border:1px solid #d2d2d2;
    margin-top:45px;
    padding:20px;
}
.bref ul, .article-similaire ul{
    margin:0;
    padding:5px 0 0 20px;
}
.bref li{
    list-style-image : url(fleche-droite.png);
    padding-left:5px;
    padding-bottom: 2px;
}
.article-similaire ul{
    list-style-type: none;
    padding:0;margin:0;
}
.article-similaire li{
    padding:0;margin:0;
}
.article-similaire li .next{
    padding: 0 5px 2px 0;
}
.article .info-or{
    margin-top:320px;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    padding: 30px 0 30px 0;
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    font-size:18px;
    font-weight: normal;
    line-height: 24px;
    letter-spacing: 1px;
    color:#c8a010;
}
.article-similaire{
    background: #F7F7F7;
    margin-top:35px;
    padding:20px;
}
.article-footer{
    border-top: 1px solid #d2d2d2;
     padding-top:20px;
}
.article-footer .auteur{
    letter-spacing: 1px;
    padding-left: 30px;
}
.article-footer .action{
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    font-size:12px;
    color:#000;
}
.partage-nb div{
    width: 90px;
    height:30px;
    text-align: right;
    padding-right:10px;
    font-family: 'Avenir-Light',Arial, Sans-Serif;
    font-size:12px;
    color:#2cd2d2c;
    line-height: 30px;
    border:1px solid #000;
    float: left;
    margin:10px 10px 10px 0;
}
.partage-nb .facebook{
    background: url('blog-facebook.png') no-repeat;
}
.partage-nb .twitter{
    background: url('blog-twitter.png') no-repeat;
}
.partage-nb .google{
    background: url('blog-google.png') no-repeat;
}
.commentaire .top{
    margin:20px 0;
}
.commentaire .titre, .commentaire .commenter{
    background: #F7F7F7;
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    font-size:12px;
    color:#000;
    height:40px;
    line-height: 40px;
    float:left;
    padding-left:10px;
    cursor:pointer;
}
.commentaire .titre{
    width: 30%;
    margin-right:2%;
}
.commentaire .commenter{
    width: 67%;
    background:  #F7F7F7 url(blog-fleche-droite.png) no-repeat 96% center;
}
.commentaire .titre div{
    float:left;
    width: 67%;
}
.commentaire .titre .nb{
    width: 25%;
    text-align: right;
    font-family: 'Avenir-Light',Arial, Sans-Serif;
    font-size:12px;
    color:#2cd2d2c;
    line-height: 40px;
}
.commentaire .contenu-com{
    display:none;
    float:left;
    margin:10px 0;
    width:99%;
    background: #F7F7F7;
}
.commentaire .input-group, .contenu-com .commentaires{
    //background: blue;
    width:94%;
    margin: 20px;
}
.commentaire input[type="text"], .commentaire input[type="email"]{
    margin-bottom: 20px;
    height:40px;
    line-height: 40px;
}
.commentaire textarea{
    margin-bottom:20px;
    height:150px;
}
.commentaire button{
    width:40%;
    height:40px;
    line-height:40%;
}
.commentaire .mention{
    display:block;
    margin-top:10px;
}
.commentaire .commentaires .com{
    margin-top:20px;
}
.commentaire .commentaires .com-user{
    font-family: 'Avenir-Bold',Arial, Sans-Serif;
}
.commentaire .commentaires .com-date{
    font-style: italic;
    margin-bottom: 10px;
}
.article .slide{
    height:160px;
    border-bottom: 1px solid #d2d2d2;
}
.article .carousel-indicators li.active{
    background: url('pager-active.png') no-repeat;
}
.article .carousel-control.left{
    top:10px;
    left:-58px;
}
.article .carousel-control.right{
    top:10px;
    right:-58px;
}
.article .carousel-inner{
    text-align: center;
}
.article .carousel-inner > .item{
    padding-top:0;
    min-height:230px;
}
.article .carousel-inner > .item img{
    display:inline-block;
    padding:10px;
    text-align: center;
}
.article .carousel-inner > .item span br{
    display:none;
}




.blog{
    background: #FFF;
    padding-bottom:10px;
}
.blog .passion .slogan{
    line-height: 18px;
}
.blog .bloc{
    letter-spacing: 2px;
    font-family: 'Avenir-Light',Arial, Sans-Serif;
    text-transform: uppercase;
}
.blog .grostexte{
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 1px;
    font-family: 'Adam-Regular',Arial, Sans-Serif;
}
.blog .blocbackground{
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    color:#FFF;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-top: 180px;
}
.blog .bloc img{
    display: block;
    margin: 10px auto;
}
.blog .article04{
    background: url('blog-article04-background.jpg');
}
.blog .article05{
    background: url('blog-article05-background.jpg');
    padding-top:100px;
    color: #000;
}
.blog .article05 a{
    text-shadow:none;
    color:#000;
}
.blog .article08{
    background: url('blog-article08-background.jpg') !important;
    padding-top:220px;
}
.blog .article04 a:hover, .blog .article05 a:hover, .blog .article08 a:hover{
    color:#C8A010;
}
.blog .article04 a:hover, .blog .article08 a:hover{
     text-shadow: 2px 2px 15px #000;
}
.blog .article08{
    height:309px;
    background: url('blog-article08-background.jpg') !important;
}
.blog .ariane{
    margin-bottom: 0;
}
.blog .categorie{
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 10px;
}
.blog .categorie ul{
    width:570px;
    margin:0 auto;
}
.blog .categorie li{
    display:inline-block;
    padding:13px;
    text-transform: uppercase;
}
.blog .categorie li:hover, .blog .categorie li.active{
    background: #F7F7F7;
}
/*****************************************************************PAGE RESULTATS*********************************************************************/
/********************** 1Ã¨re colonne **************************/
.resultat{
    background:#FFF;
}
.resultat .ariane{
    margin-bottom: 0;
}
.resultat .search{
   background: #F7F7F7;
   padding:30px 30px;
}
.resultat .search .input-group{
    width: 100%;
}
.resultat .search .input-group .form-control{
    display:inline-block;
}
.resultat .search .input-group-addon{
    background: #FFF;
    border:0;
    width:50px;
    margin:0;
    padding:0;
    height:50px;
    line-height: 50px;
    float:left;
}
.resultat .search input[type=search]{
    max-width: 843px;
    float:left;
    height: 50px;
}
.resultat .search .input-group-addon, .resultat .search .input-group .form-control{
    display: inline-block;
}
.resultat .filtres{
    margin-right:0;padding-right:0;
    border-top:1px solid #FFF;
}
.resultat .filtres h3{
    margin:0;
    padding:15px 25px;
    font-family: "Adam-Regular",Arial,sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    font-size:12px;
    text-transform: uppercase;
    width: 195px;
}
.resultat .filtres .filtre-haut{
    background: #F7F7F7;
    width:100%;
}
.resultat .filtres div{
    display: inline-block;
}
.resultat .filtres .titre{
    width:100%;
    cursor:pointer;
    /*height:42px; Edit Alice */
}
.resultat .filtres .filtre-haut .titre #croix{
    display:none;
    float: right !important;
    margin:11px 15px 0 0;
}
.resultat .filtres .filtre-haut .contenu{
    padding:15px 25px;
    display:none;
}
.resultat .filtres .filtre-haut .checkboxs div{
    height: 30px;
}
.resultat .filtres .filtre-haut input[type=checkbox].css-checkbox + label.css-label {
    padding-left:15px;
    height:10px;
    line-height:12px;
}
.resultat .filtres .filtre-haut  input[type=checkbox].css-checkbox:checked + label {
    background-position: 0 -10px;
}
.resultat .filtres .filtre-haut label.css-label {
    background-image:url('resultat-checkbox-filtre.png');
}
.resultat .filtres .filtre-haut .btn{
    margin-top:15px;
    width:100%;
    background: transparent;
    border:1px solid #000;
    color:#000;
    font-family: "Adam-Regular",Arial,sans-serif;
    font-weight: normal;
    letter-spacing: 1px;
    font-size:12px;
    text-transform: uppercase;
}
.resultat .categories{
    width:100%;
    margin-top:5px;
    border:1px solid #d2d2d2;
}
.resultat .filtre .ferme{
    width:15px;
    height:15px;
    background: url('resultat-fleche-droite.png') no-repeat 0 5px;
}
.resultat .filtre .ouvert{
    width:15px;
    height:15px;
    background: url('resultat-fleche-bas.png') no-repeat 0 5px;
}
.resultat .choix{
    max-height:330px;
    width:96%;
    overflow-y: scroll;
    margin-bottom: 8px;
}
.resultat .choix .all{
    color:#c9a100;
    font-family:'Avenir-Bold';
    padding-left:15px;
}
.resultat .choix ul.niv1{
    padding-left:35px;
    margin:0;
}
.resultat .choix ul.nivsup{
    padding-left:10px;
    margin:0;
}
.resultat .choix li{
    line-height: 18px;
    letter-spacing: 1px;
}
.resultat .choix li.last{
    list-style-image: url('next.png') !important;
    color:#000 !important;
    font-family: 'Avenir-Light',Arial, Sans-Serif !important;
}
.resultat .filtres .filtre input[type=checkbox].css-checkbox + label.css-label {
    padding-left: 15px;
    padding-bottom: 5px;
    height: auto;
    line-height: 12px;
}
.resultat .filtres .filtre  input[type=checkbox].css-checkbox:checked + label {
    background-image: url('checkbox-checked.png');
    background-position: 0 0;
}
.resultat .filtres .filtre label.css-label {
    background-image: url('checkbox-unchecked.png');
    background-repeat: no-repeat;
}
.resultat .filtres .filtre .titre{
    background: #F7F7F7;
}
.resultat .filtres .filtre{
    width:100%;
}
.resultat .filtres .filtre{
    margin-top:8px;
}
.resultat .filtres .filtre .choix{
    margin-bottom: 8px;
    width: 96%;
    max-height: 175px;
    overflow-y: scroll;
    padding:10px 0;
}
.resultat .filtres .filtre .contenu{
    border:1px solid #F7f7f7;
    /*display:none;*/
    padding-top:8px;
    width:100%;
}
.resultat .filtres .filtre .contenu .item{
    display:block;
    height:18px;
    padding-left:10px;
}
.resultat .filtre .input-group{
    width:100%;
    padding:3px 15px;
}
.resultat .filtre .input-group input[type=search]{
    width:85%;
    border-bottom: 1px solid #F7F7F7;
}
.resultat .filtre .input-group .input-group-addon{
    background: #FFF;
    border:0;
    width:10%;
}
.resultat .prix{
    width:90%;
    margin:5%;
}
.resultat .prix #skipstep{
    width: 100%;
    margin-top:10px;
}
.resultat .prix .entre{
    display:block;
    margin:20px 0;
}
.resultat .prix #skip-value-lower, .resultat .prix #skip-value-upper{
    border:1px solid #cecece;
    padding:8px;
    margin: 5px;
}
.resultat .prix .reference{
    width:100%;
}
.resultat .prix .reference .deb, .resultat .prix .reference .fin{
    width:50%;
    float:left;
}
.resultat .prix .reference .fin{
    text-align: right;
}

/************************ 2Ã¨me colonne ***********************/
.resultat .produits{
    margin-left:0; padding-left:0;
}
.resultat .produits .filtre-haut{
    background: #F7F7F7;
    border-top: 1px solid #FFF;
    height:42px;
    text-transform: uppercase;
}
.resultat .produits .filtre-haut span{
    text-transform:initial;
}
.resultat .produits .filtre-haut div{
    height:40px;
    line-height: 40px;
    float: left;
    padding-right:12px;
}
.resultat .produits .filtre-haut div.bord{
    color:#d2d2d2;
}
.resultat .produits .filtre-haut div.space{
    width:25%;
}
.resultat .produits .filtre-haut div.space-af{
    width:17%;
}
.resultat .produits .filtre-haut div .niveau1{padding:10px 0;margin:0;line-height:40px;height:40px;cursor:pointer;z-index:1000;position:relative;}
.resultat .produits .filtre-haut div ul ul {display: none;padding:0;margin:0;background:#F7F7F7;}
.resultat .produits .filtre-haut div li{list-style: none;padding:0;margin:0;line-height: 20px;}
.resultat .produits .filtre-haut div li:hover ul.niveau2{display:block;padding:10px;margin:0;}

.contenu-produits .produit{
    margin:35px 0 0 35px;
    padding-bottom: 30px;
    border-bottom: 1px solid #d2d2d2;
}
.resultat .produit:hover{
    color: #c9a100;
}
.resultat .last-produit{
    border-bottom: 0 !important;
}
.contenu-produits .produit h2{
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    font-size:12px;
    font-weight: normal;
    line-height: 16px;
    text-transform: uppercase;
    padding:0 0 20px 0;
    margin:0;
    letter-spacing: 1px;
}
.contenu-produits .produit .favori{
    font-family: 'Avenir-Oblique',Arial, Sans-Serif;
    text-transform: uppercase;
    text-align: center;
    color:#c9a100;
    font-size: 14px;
    border:1px solid #c9a100;
    line-height: 30px;
    width:160px;
    float: right;
}
.contenu-produits .produit .titre{
    cursor:pointer;
}
.contenu-produits .produit .detail{
    font-family: 'Avenir-Oblique',Arial, Sans-Serif;
    width:160px;
    padding-top:20px;
    float: right;
}
.resultat .produit .detail .prix{
    font-family: 'Avenir-BlackOblique',Arial, Sans-Serif;
}
.resultat .detail .bouton {
    width:160px;
    margin-right:auto;
    margin-left:auto;
}
.resultat .detail .bouton div{
    width:24%;
    float:left;
    text-align: center;
}
.contenu-produits .produit .detail .bouton div.first{
    text-align: left;
}
.resultat .produit .detail .bouton div.last{
    text-align: right;
    cursor:pointer;
}
.contenu-produits .produit .piece{
    cursor:pointer;
}
.contenu-produits .produit .detail .bouton div.sold-out, .resultat .produit div.sold-out{
    text-align: center;
    background: #000;
    width:75%;
    height:30px;
    line-height:30px;
    color:#FFF;
    text-transform: uppercase;
}
.resultat .detail .voir-produit{
    width: 100%;
    border:1px solid #c9a100;
    background: transparent;
    font-family: 'Avenir-Light',Arial, Sans-Serif;
    font-size: 12px;
    height:30px;
    display:block;
    width:154px;
    margin:48px auto;
    text-align: center;
    line-height: 29px;
}


.resultat .detail .img-lien{
    padding-top:4px;
    padding-right:4px;
}

/* Page rÃ©sultat par colonne de 3 */
.contenu-produits-af3{
    padding:5%;
}
.contenu-produits-af3 .produit{
    border-bottom: 1px solid #cecece;
}
.contenu-produits-af3 .produit h2{
    font-family: 'Avenir-Light',Arial, Sans-Serif;
    font-size: 12px;
    text-align: center;
    padding:5px 5%;
}
.contenu-produits-af3 .produit .detail .voir-produit{
    display:block;
    width:154px;
    margin:48px auto;
    text-align: center;
    line-height: 29px;
}
.contenu-produits-af3 .produit .detail .prix{
    text-align: center;
}
.contenu-produits-af3 .detail .bouton{
    width:155px;
}
.contenu-produits-af3 .produit .non-favori{
    height:40px;
}
.contenu-produits-af3 .produit .favori{
    font-family: 'Avenir-Oblique',Arial, Sans-Serif;
    text-transform: uppercase;
    text-align: center;
    color:#c9a100;
    font-size: 14px;
    border:1px solid #c9a100;
    line-height: 30px;
    height:30px;
    width:160px;
    margin:0 auto 10px auto;
}
.resultat .produit .img-produit{
    display:block;
    margin-right:auto;
    margin-left:auto;
}
.resultat .produit .img-produit-hover{
    display: none;
}
.resultat .produit:hover .img-produit-hover{
    display: block;
    margin-right:auto;
    margin-left:auto;
}


.contenu-produits-af5 .produit{
    float:left;
    width:20%;
    border-bottom: 1px solid #cecece;
}
.contenu-produits-af5 .piece{
    padding:10%;
}
.contenu-produits-af5 .zoom{
    width:33px;
    margin:0 auto;
    cursor:pointer;
    height:30px;
}
.contenu-produits-af5 .zoom img{
    display:none;
}
.contenu-produits-af5  .produit:hover .zoom img{
    display:block;
}
.contenu-produits-af5 .sold-out, .contenu-produits-af5 .sold{
    height:30px;
    margin:0 auto;
    font-family: 'Avenir-Oblique',Arial, Sans-Serif;
}




/* pop up de la page rÃ©sultat */
.modal-body .pagination{
    border-bottom: 0;
    margin-top:0;
}
.modal-body .bouton-raccourci div{
    float:left;
    margin-bottom:10px;
    width:18%;
}
.modal-body .bouton-raccourci .article{
    width:82%;
    border:1px solid #c9a100;
    background: transparent;
    font-family: 'Avenir-Light',Arial, Sans-Serif;
    font-size: 12px;
    height:30px;
    text-align: center;
    line-height:28px;
    cursor:pointer;
    text-transform: uppercase;
}
.modal-body .bouton-raccourci .article .img-lien{
    padding-top:4px;
    padding-right:4px;
}















/*****************************************************************FOOTER*********************************************************************/
footer{
    position: relative;
}
footer .scroll-top{
    position:absolute;
    top:-100px;
    right:50px;
}
footer .bloc-info{
    background: #232325;
    text-align: center;
    min-height: 110px;
    color: #7c7c7d;
    font-family: 'Avenir-Light',Arial, Sans-Serif;
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 35px;
}
footer .bloc-info img{
    padding-top:30px;
    padding-bottom:10px;
}
footer .bloc-join-us{
    min-height: 90px;
    background: url('fond-join-us.jpg') center;
    color: #f7f7f7;
    text-align: center;
    padding-top:15px;
    padding-bottom: 30px;
}
footer .bloc-join-us strong{
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    font-size:12px;
    font-weight: normal;
    line-height: 20px;
}
footer .bloc-join-us span{
    font-family: 'Avenir-Light',Arial, Sans-Serif;
    font-size:10px;
    line-height: 27px;
}
footer .newsletter .input-group{
    width: 250px;
    height:25px;
    color:#000;
    float:left !important;
}
footer .newsletter .form-control{
    width:220px;
}
footer .newsletter button{
    width:30px;
    background: #c8a000;
    border:0;
    line-height: 5px;
    height: 25px;
    margin:0;
    padding: 0;
}
footer .rs img{
    padding:0 5px;
}
footer .rs, footer .sign, footer .newsletter{
    padding-top:20px;
}
footer .bloc-site-map{
    padding-top: 40px;
    padding-bottom: 35px;
}
footer .bloc-site-map h3{
    font-size:17px;
    letter-spacing: 1px;
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    color: #C6A300;
    line-height: 25px;
}
footer .bloc-site-map, footer .bloc-site-map a{
    color:#282829;
}
footer .bloc-site-map a:hover{
    color: #C9A101;
}
footer .bloc-site-map strong{
    font-family: 'Adam-Regular',Arial, Sans-Serif;
    letter-spacing: 1px;
    font-weight: normal;
}
footer .bloc-mentions{
    background:#FFF;
    font-family: 'Avenir-Light',Arial, Sans-Serif;
    font-size:10px;
    color: #282829;
    padding-bottom: 20px;
    min-height:42px;
}
footer .beseen, footer .mentions{
    padding-top: 20px;
}

/* Modifs transmises par BeSeen */
@media (min-width: 990px){
    header .container{
       width:970px;
    }
}



/** custom search */
.ais-hierarchical-menu--header.ais-header{display:none !important;}
.ais-refinement-list--item{display:block !important;}
.ais-hierarchical-menu--item>div{width: 100%;}

.ais-hierarchical-menu--list__lvl1{padding-left:10px;}
.ais-hierarchical-menu--list__lvl2{padding-left:20px;}
.ais-hierarchical-menu--list__lvl3{padding-left:30px;}


#pagination ul li{
    display: inline-block;
    padding: 0 8px;
}

.produit:not(.big) .piece .revers {display: none;}

.displayMode {
    width: 17px;
    height: 17px;
}
.displayMode:not(.active) .black,
.displayMode.active img:not(.black),
.displayMode:hover img:not(.black) {display: none;}
.displayMode:hover .black {display: inline;}

#zoomHit .article {
    display: block;
}

*[data-show]{display:none;}
*[data-show]:not([style*="display: block;"]) {
  margin:0 !important;
  width:auto !important;
}

#reset{
  margin: 0;
  padding: 12px 25px;
  font-family: "Adam-Regular",Arial,sans-serif;
  font-weight: normal;
  letter-spacing: 1px;
  font-size: 12px;
  text-transform: uppercase;
  width: 235px;
}

#perPageSelector {text-align:center;}

form.little-form {
  width: 24%;
  float: left;
  text-align: center;
}
.buttonSubmit {
  background: none;
  border: none;
  padding:0;
}

#spinnerOverlay {
  position: fixed;
  background: rgba(255,255,255,0.85);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5000;
  display: none;
}
#spinnerMessage{
  position: fixed;
  width: 400px;
  color: #3A3A3A;
  font-size: 29px;
  text-align: center;
  left: 50%;
  top: 50%;
  margin-left: -200px;
  margin-top: 50px;
  display: none;
  z-index: 5100;
}
#spinner {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -35px;
  margin-top: -11px;
  display: none;
  z-index: 5100;
}
.sk-spinner-three-bounce.sk-spinner {
  margin: 0 auto;
  width: 70px;
  text-align: center;
}
.sk-spinner-three-bounce div {
  width: 18px;
  height: 18px;
  background-color: #3A3A3A;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-threeBounceDelay 1.4s infinite ease-in-out;
  animation: sk-threeBounceDelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.sk-spinner-three-bounce .sk-bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.sk-spinner-three-bounce .sk-bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-threeBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes sk-threeBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

#modalWishConfirm{
  top: 20%;
}
#modalWishConfirm .modal-body{
  font-size: 21px;
  text-align: center;
  padding: 30px;
}