<!-- ATTRIBUTION DES CATEGORIES -->
{% for tag in product.tags %}
    {% if tag contains 'CAT|0|' %}
        {% assign catlevel = 0 %}
        {% assign maincathandle = tag | remove: 'CAT|0|' | handleize %}
        {% assign maincat = tag | remove: 'CAT|0|' %}
    {% endif %}
    {% if tag contains 'CAT|1|' %}
        {% assign catlevel = 1 %}
        {% assign lastcat = tag | remove: 'CAT|1|' %}
        {% assign handlebase = tag | remove: 'CAT|1|'| handleize %}
        {% capture base1 %}{{ handlebase }}-1{% endcapture %}
        {% capture base2 %}{{ handlebase }}-2{% endcapture %}
        {% capture base3 %}{{ handlebase }}-3{% endcapture %}
        {% assign lasttag = tag %}
        {% assign lastcathandle = tag | remove: 'CAT|1|'| handleize %}
    {% endif %}
    {% if tag contains 'CAT|2|' %}
        {% assign catlevel = 2 %}
        {% assign cat2handle = tag | remove: 'CAT|2|'| handleize %}
        {% assign cat2 = tag | remove: 'CAT|2|' %}
    {% endif %}
    {% if tag contains 'CAT|3|' %}
        {% assign catlevel = 3 %}
        {% assign cat3handle = tag | remove: 'CAT|3|'| handleize %}
        {% assign cat3 = tag | remove: 'CAT|3|' %}
    {% endif %}
{% endfor %}
{% if catlevel == 2 %}
{% assign lastcathandle = cat2handle %}
{% assign lastcat = cat2 %}
{% elsif catlevel == 3 %}
{% assign lastcathandle = cat3handle %}
{% assign lastcat = cat3 %}
{% endif %}

    <div class="page-produit container-fluid" id="product" itemscope itemtype="http://schema.org/Product">
        <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
        <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">
        <meta itemprop="name" content="{{ product.title }}">
            <div class="container">
                {% include 'breadcrumb' %}

                {% assign variant = product.selected_or_first_available_variant %}
                <div class="produit col-xs-12">
                  <!-- Images Produit -->
                    <div class="col-xs-12 col-sm-8">
                              <!-- Images Produits -->
                              {% if product.images.size > 0 %}
                              {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
                              <div id="image-produit" class="zoom" data-image="{{ featured_image | img_url: '1024x1024' }}">
                                <img src="{{ featured_image | img_url: '1024x1024' }}" id="image" alt="{{ product.title | escape }}" class="img-responsive" />
                                <div id="preview-zoom" class="hidden-xs hidden-sm hidden-md" data-toggle="modal" data-target="#myModal">
                                  <img src="{{ 'produit-zoom.png' | asset_url }}" alt="zoom"/><br/>{{ 'product.cliczoom_html' | t }}
                                </div>
                              </div>
                              {% else %}
                              <img src="{{ 'product_default_home.png' | asset_url }}" class="img-responsive" />
                              {% endif %}

                              {% if product.images.size > 1%}
                                <!-- Thumbnails -->
                                <div class="col-sm-10 miniature">
                                  {% for image in product.images %}
                                    <img src="{{ image | product_img_url: 'small' }}" onClick="ChangeImage('{{ image | product_img_url: '1024x1024' }}');"  alt="{{ product.title | escape }}" />
                                  {% endfor %}
                                </div>
                                <div class="col-sm-2 text-center petitzoom" data-toggle="modal" data-target="#myModal">
                                    <br/><br/><img src="{{ 'produit-zoom.png' | asset_url }}" alt="zoom"/><br/>{{ 'product.zoom' | t }}
                                </div>
                              {% endif %}
                    </div>
                  <!-- Zone d'ajout au panier -->
                    <div class="col-xs-12 col-sm-4">
                        <div id="container-zoom" class="hidden-xs hidden-sm">
                            <div id="window-zoom" style="display:none;"></div>
                        </div>
                        <div class="descriptif-produit" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <meta itemprop="priceCurrency" content="{{ shop.currency }}">
                        <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
                            <div class="reference">{{ variant.sku }}</div>
                            <h1 class="nom-produit" itemprop="name">
                                {{ product.title }}
                            </h1>
                            <div class="prix" id="certif-price" itemprop="price">
                              {{ variant.price | money }}
                            </div>

                            <!-- DEBUT FORM AJOUT PANIER-->
                            <form id="add-item-form" action="/cart/add" method="post">

                              <!-- CERTIF CONDITIONNEL -->
                              {% assign graded = false %}
                              {% for tag in product.tags %}
                              {% if tag contains 'GRADING|' %}
                              {% assign graded = true %}
                              {% endif %}
                              {% if tag contains 'CAT' %}
                                  {% capture cat %}{{ tag | remove: 'CAT|' | handleize }}{% endcapture %}
                              {% endif %}
                              {% endfor %}
                              {% assign PMG = false %}
                              {% assign NGC = false %}
                              {% assign PCGS = false %}
                              {% assign PMG_FREE = false %}
                              {% assign NGC_FREE = false %}
                              {% assign PCGS_FREE = false %}
                              {% assign FREE = true %}
                                {% if variant.price < 50000 and cat contains 'note' or cat contains 'NOTE' %}
                                 {% assign PMG = true %}
                                {% elsif variant.price >= 50000 and cat contains 'note' or cat contains 'NOTE' %}
                                 {% assign PMG_FREE = true %}
                                {% endif %}
                                {% if variant.price < 50000 and cat contains 'oins' or cat contains 'OINS' %}
                                 {% assign PCGS = true %}
                                {% elsif variant.price >= 50000 and cat contains 'oins' or cat contains 'OINS' %}
                                 {% assign PCGS_FREE = true %}
                                {% endif %}
                                {% if variant.price < 50000 and cat contains 'ntique' or cat contains 'NTIQUE' %}
                                 {% assign NGC = true %}
                                {% elsif variant.price >= 50000 and cat contains 'ntique' or cat contains 'NTIQUE' %}
                                 {% assign NGC_FREE = true %}
                                {% endif %}


                              <!-- attribution de l'ID de la variante pour 'lajout au panier en champ caché ou affiché en cas de variantes multiples -->
                              {% assign hide_no_variant = false %}
                              {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
                                {% assign hide_no_variant = true %}
                              {% endif %}

                              <div class="select clearfix"{% if hide_no_variant %} style="display:none"{% endif %}>
                              <select id="product-select-0" name='id[]'>
                                {% for variant in product.variants %}
                                <option value="{{ variant.id }}"{% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}>{{ variant.title }} - {{ variant.price | money }}</option>
                                {% capture sku %}{{ variant.sku }}{% endcapture %}
                                {% capture id %}{{ variant.id }}{% endcapture %}
                                {% capture title %}{{ product.title }}{% endcapture %}
                                {% endfor %}
                              </select>
                              </div>
                             {% unless graded == true %}
                             {% if settings.expert_certif_activate or settings.free_activate %}
                              <div class="grading-zone">
                                <a class="grading-button" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                  {{ 'product.add_options' | t }}
                                </a>
                                <div class="collapse" id="collapseExample">
                                  <div class="well">
                                    {% unless PMG == false and NGC == false and PCGS == false and FREE == false %}
                                    {% include 'product-certificate' %}
                                    {% endunless %}
                                  </div>
                                </div>
                              </div>
                              {% endif %}
                              {% endunless %}

                              {% unless product.available %}
                              <button class="vendu">{{ 'product.sold' | t }}</button>
                              {% else %}
                              <input type="submit" id="purchase" class="panier" name="add" value="{{ 'product.add_basket' | t }}" />
                              {% endunless %}
                            </form>
                            {% if product.available %}
                                {% include 'form-wishlist' %}
                            {% else %}
                            <button type="button" class="wishlist" data-toggle="modal" data-target="#alertModal">{{ 'product.create_alert' | t }}</button>
                            {% unless settings.mydetective == blank or pages[settings.mydetective].empty? %}
                            {% assign detective = pages[settings.mydetective] %}
                                <button class="wishlist" onClick="document.location.href='{{ detective.url }}'">{{ detective.title }}</button>
                            {% endunless %}
                            {% endif %}
                        </div>
                        <div class="detail" itemprop="description">
                          {% capture required %}{{ settings.tag_required }}|{% endcapture %}
                          {% for tag in product.tags %}
                            {% if tag contains required %}
                                {{ tag | remove: required | replace: "|", " : " }}{% unless forloop.last == true %}<br/>{% endunless %}
                            {% endif %}
                          {% endfor %}
                        </div>
                        <div class="action">
                            {% include 'social-share-product' %}
                            <br/>
                            <a href="javascript:window.print()">{{ 'product.print' | t }} <img src="{{ 'next.png' | asset_url }}" alt="<" class="next" /></a><br/>
                          {% if settings.friend_activate and settings.active_friend %}
                            <a href="#" data-toggle="modal" data-target="#friendModal">{{ 'product.send_friend' | t }} <img src="{{ 'next.png' | asset_url }}" alt="<" class="next" /></a><br/>
                            {% include 'form-sendtofriend' %}
                          {% endif %}
                          {% if settings.alert_activate and settings.active_alert %}
                            <a href="#" data-toggle="modal" data-target="#alertModal">{{ 'product.create_alert' | t }} <img src="{{ 'next.png' | asset_url }}" alt="<" class="next" /></a><br/>
                            {% include 'form-createalert' %}
                          {% endif %}
                        </div>
                     </div>

                    <!-- Popup Image Produit -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><img src="{{ 'close.png' | asset_url }}" alt="{{ 'general.close' | t }}" /></button>
                                </div>
                                <div class="modal-body">
                                    <img src="{{ featured_image | img_url: '1024x1024' }}" id="zoompopup" alt="{{ product.title | escape }}" class="img-responsive" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <!-- Récupération des SEttings des contenus ONglets -->
            {% unless settings.producttab3 == blank or pages[settings.producttab3].empty? %}
            {% assign tab3 = pages[settings.producttab3] %}
            {% endunless %}
            {% unless settings.producttab4 == blank or pages[settings.producttab4].empty? %}
            {% assign tab4 = pages[settings.producttab4] %}
            {% endunless %}
            {% unless settings.producttab5 == blank or pages[settings.producttab5].empty? %}
            {% assign tab5 = pages[settings.producttab5] %}
            {% endunless %}
            {% unless settings.producttab6 == blank or pages[settings.producttab6].empty? %}
            {% assign tab6 = pages[settings.producttab6] %}
            {% endunless %}
            <div class="container">

              <!-- Ouverture form pour messages envoi erreur hors onglet -->
              {% form 'contact' %}

              {% if form.posted_successfully? %}
                <div class="successForm feedback">
                  {{ 'form.post_success' | t }}
                </div>
              {% endif %}

              {% if form.errors %}
              <div class="errorForm feedback">
                <!-- {{ form.errors.size }} or {{ form.errors | size }} -->
                <p>Your contact form has {{ form.errors | size | pluralize: 'an error', 'a few error' }}. To submit your form, make the following changes and try again:</p>
                {% for field in form.errors %}
                  <p>The {{ field | capitalize | replace: 'Body', 'Message' }} field {{ form.errors.messages[field] }}.</p>
                {% endfor %}
              </div>
              {% endif %}
                <div class="sous-menu onglet">
                    <ul>
                        <li class="detail active" onClick="DetailProduit('#detail')">{{ 'product.details' | t }}</li>
                        <li class="commentaire" onClick="DetailProduit('#commentaire')">{{ 'product.comments' | t }}</li>
                        <li class="paiement" onClick="DetailProduit('#paiement')">{{ tab3.title }}</li>
                        <li class="certification" onClick="DetailProduit('#certification')">{{ tab4.title }}</li>
                        <li class="expert" onClick="DetailProduit('#expert')">{{ tab5.title }}</li>
                        <li class="garanties" onClick="DetailProduit('#garanties')">{{ tab6.title }}</li>
                    </ul>
                </div>
                <div class="description row" id="detail">
                    <div class="col-xs-12">
                      <div class="product-details">
                        <div class="row">
                          <div class="col-sm-5 col-xs-11">
                            <h3>{{ 'product.details' | t }}</h3>
                            <ul class="details-default">
                              {% capture default %}{{ settings.tag_default }}|{% endcapture %}
                              {% for tag in product.tags %}
                                {% if tag contains default %}
                                    <li>{{ tag | remove: default | replace: "|", " : " }}</li>
                                {% endif %}
                              {% endfor %}
                            </ul>
                          </div>
                          <div class="col-sm-1 col-xs-1"></div>
                          <div class="col-sm-6 col-xs-12">
                            <h3>{{ 'product.ouvrage' | t }}</h3>
                            {% capture references %}{{ settings.tag_references }}|{% endcapture %}
                              {% for tag in product.tags %}
                                {% if tag contains references %}
                                    {{ tag | remove: references | prepend: '<li>' | append: '</li>' | replace: '|', ' : ' }}
                                {% endif %}
                              {% endfor %}
                          </div>
                        </div><!-- .row -->
                      </div>
                    </div>
                </div>
                <div class="description row" id="commentaire">
                    <div class="col-xs-12">
                      <div class="product-description">
                        <div class="row">
                          <div class="col-sm-5 col-xs-11" id="about">
                            <h3>{{ 'product.about' | t }}</h3>
                            {{ product.description }}
                          </div>
                          <div class="col-sm-1 col-xs-1"></div>
                          <div class="col-sm-6 col-xs-12">
                            <h3>{{ 'product.expertise' | t }}</h3>
                            <ul>
                            {% capture expertise %}{{ settings.tag_expertise }}|{% endcapture %}
                            {% for tag in product.tags %}
                                {% if tag contains expertise %}
                              <li>{{ tag | remove: expertise | replace: "|", " : " | replace: "#", ", " }}</li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                          </div>
                        </div><!-- .row -->
                      </div>
                    </div>
                </div>
                 <div class="description row" id="paiement">
                    <div class="col-xs-12">
                      <div class="text-justify">
                        {{ tab3.content }}
                      </div>
                    </div>
                </div>
                <div class="description row" id="certification">
                  {% if graded == true %}
                          <div class="product-description">
                            <h3>{{ 'product.graded_product' | t }}</h3>
                            <ul class="p15">
                            {% for tag in product.tags %}
                                {% if tag contains 'GRADING|' %}
                                <li>{{ tag | remove: "GRADING|" | replace: "|", " : " }}</li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                          </div>
                          <hr/>
                  {% endif %}
                  <div class="text-justify">
                        {{ tab4.content }}
                  </div>
                </div>
                <div class="description row" id="expert">
                  {% if settings.producttab5form == true %}
                    <div class="col-xs-11 col-md-5">
                        {% include 'form-askexpert' %}
                    </div>
                    <div class="col-sm-1 col-xs-1"></div>
                    <div class="col-xs-12 col-md-6 mtop10">
                      <div class="text-justify">
                        {{ tab5.content }}
                      </div>
                    </div>
                  {% else %}
                      <div class="text-justify">
                        {{ tab5.content }}
                      </div>
                  {% endif %}
                </div>
                <div class="description row" id="garanties">
                  <div class="text-justify">
                        {{ tab6.content }}
                  </div>
                </div>

            </div>
            {% endform %}

            <!-- Navigation inter produit -->
            <div class="container">
                <div class="pagination">
                    <div class="col-xs-6">
                      <span id="previous"></span>
                      {% if collection.previous_product %}
                      <span id="previous2"></span>
                      {% endif %}
                    </div>
                    <div class="col-xs-6 text-right">
                      <span id="next"></span>
                      {% if collection.next_product %}
                      <span id="next2"></span>
                      {% endif %}
                    </div>
                </div>
            </div>

            <!-- Blocs Editoriaux -->
            <div class="container blocs-home">
                <!-- My Detective -->
                <div class="col-xs-12 col-md-4">
                    <div class="bloc sell">
                      {% unless settings.mydetective == blank or pages[settings.howtosell].empty? %}
                         {% assign sell = pages[settings.howtosell] %}
                         <a href="{{ sell.url }}">
                            <img src="{{ 'produit-sell.png' | asset_url }}" alt="Sell" class="picto" />
                            {{ settings.howtosell_title }}<br/><br/>
                           <span class="view-all"><img src="{{ 'view-all-white.png' | asset_url }}" alt=">"/></span><span class="texte">{{ sell.title }}</span>
                         </a>
                        {% else %}
                        <p> Veuillez vous rendre dans <a href="/admin/themes/{{ theme.id }}/settings">les options de votre thème</a>, afin de définir un lien pour cette zone.</p>
                        {% endunless %}
                    </div>
                </div>
                <!-- Mini Blocs -->
                <div class="col-xs-12 col-md-4">
                    <div class="row">
                    <div class="{% if settings.active_alert %}col-xs-6{% else %}col-xs-12{% endif %}">
                        <div class="{% if settings.active_alert %}minibloc{% else %}miniblocvague alert{% endif %}">
                          {% assign loop_f = false %}
                            {% for product in collections[lastcathandle].products %}
                                {% if product.tags contains 'FEATURED' %}
                                    {% assign loop_f = true %}
                                    <a href="{{ product.url | within: collection }}">
                                      {% for image in product.images limit:1 %} <img src="{{ image.src | product_img_url: 'small' }}" alt="{{ product.title | escape }}" class="img-responsive feat"> {% endfor %}
                                      Featured in <br/><strong>{{ lastcat }}</strong>
                                    </a>
                                {% break %}
                                {% endif %}
                            {% endfor %}
                            {% if loop_f == false %}
                                <a href="/collections/{{ lastcathandle }}">
                                  <br/><img src="{{ 'picto-rare.png' | asset_url }}" class="mbot10"><br/>
                                  {{ 'product.browse_all' | t }}<br/>
                                  <strong class="bigger">{{ maincat }}</strong><br/>
                                  {{ 'product.in' | t }} {{ lastcat }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    {% if settings.active_alert %}
                    <div class="col-xs-6">
                        <div class="miniblocvague">
                          <a href="#" data-toggle="modal" data-target="#alertModal">
                          <img src="{{ 'picto-alerte-noir.png' | asset_url }}"><br/>
                            {{ 'product.keep_posted_html' | t }}<br/>
                            <span class="view-all"><img src="{{ 'view-all.png' | asset_url }}" alt=">"/></span><span class="texte">{{ 'product.create_alert' | t }}</span>
                          </a>
                        </div>
                    </div>
                    {% endif %}
                    </div>
                    <div class="col-xs-12 petitbloc beige">
                      {% unless settings.mydetective == blank or pages[settings.mydetective].empty? %}
                        {% assign detective = pages[settings.mydetective] %}
                          <a href="{{ detective.url }}">
                             <img src="{{ 'produit-zoom.png' | asset_url }}" alt="Detective" class="picto"/>
                              {{ settings.mydetective_title }}<br/>
                              <span class="view-all"><img src="{{ 'view-all.png' | asset_url }}" alt=">"/></span><span class="texte">{{ detective.title }}</span>
                          </a>
                        {% else %}
                        <p> Veuille vous rendre dans <a href="/admin/themes/{{ theme.id }}/settings">les options de votre thème</a>, afin de définir un lien pour cette zone.</p>
                        {% endunless %}
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div class="bloc">
                            <img src="{{ 'produit-oeil.png' | asset_url }}" alt="Item" class="picto" />
                            {% if settings.active_recently %}
                              {{ 'apps.recent_views.recent_views_title_html' | t }}<br/>
                              {% include 'recently-viewed' %}
                            {% else %}
                                {{ 'product.last_added_title_html' | t }}
                                <div id="sliderecent" class="carousel slide" data-ride="carousel">
                                    <div class="carousel-inner" role="listbox">
                                      {% for product in collections.all.products limit: 6 %}
                                        <div class="item {% if forloop.first == true %}active{% endif %}">
                                            <a href="{{ product.url }}">
                                              {% for image in product.images limit: 1 %}
                                                <img src="{{image.src | product_img_url: 'compact' }}" alt="{{ product.title | escape }}" class="img-responsive">
                                              {% endfor %}
                                            </a>
                                        </div>
                                      {% endfor %}
                                    </div>

                                    <a class="left carousel-control" href="#sliderecent" role="button" data-slide="prev">
                                        <img src="{{ 'fleche-gauche2.png' | asset_url }}" alt="<" aria-hidden="true" class="iconprev"/>
                                    </a>
                                    <a class="right carousel-control" href="#sliderecent" role="button" data-slide="next">
                                        <img src="{{ 'fleche-droite2.png' | asset_url}}" alt="<" aria-hidden="true" class="iconnext"/>
                                    </a>
                                </div>
                            {% endif %}
                    </div>
                </div>
            </div>

            <!-- Similar Items -->
            <div class="container">
                <div class="pagination">
                    <div class="col-xs-12">
                      {{ 'product.similar_items_title' | t }}
                    </div>
                </div>
            </div>

<div class="container">
  <div id="slide-items-years" class="carousel slide" data-ride="carousel" data-interval="10000">
          <div class="carousel-inner" role="listbox">
          {% assign current_product = product.handle %}
          {% assign loop_index = 0 %}
          {% for product in collections[lastcathandle].products %}
            {% assign variant = product.selected_or_first_available_variant %}
            {% capture car1 %}{{ settings.similar_car_1 }}{% endcapture %}
            {% capture car2 %}{{ settings.similar_car_2 }}{% endcapture %}
            {% capture car3 %}{{ settings.similar_car_3 }}{% endcapture %}
            {% capture car4 %}{{ settings.similar_car_4 }}{% endcapture %}
            {% for tag in product.tags %}
              {% if tag contains 'REQUIRED' and tag contains car1 %}
                  {% capture denomination %}{{ tag | remove: 'REQUIRED|' | replace: "|", " : " }}{% endcapture %}
              {% endif %}
              {% if tag contains 'REQUIRED' and tag contains car2 %}
                  {% capture quality %}{{ tag | remove: 'REQUIRED|' | replace: "|", " : " }}{% endcapture %}
              {% endif %}
              {% if tag contains 'REQUIRED' and tag contains car3 %}
                  {% capture country %}{{ tag | remove: 'REQUIRED|' | replace: "|", " : " }}{% endcapture %}
              {% endif %}
              {% if tag contains 'REQUIRED' and tag contains car4 %}
                  {% capture year %}{{ tag | remove: 'REQUIRED|' | replace: "|", " : " }}{% endcapture %}
              {% endif %}
                {% if tag contains 'CAT|0|' %}
                    {% capture similar_country %}{{ tag | remove: "CAT|0|" | handleize }}{% endcapture %}
                {% endif %}
            {% endfor %}
            {% unless product.handle == current_product or product.available == false %}

            {% capture loop_index %}{{ loop_index | plus:1 }}{% endcapture %}
            {% assign modulo = loop_index | modulo: 6 %}
                {% if loop_index == '1' %}<div class="item active">{% endif %}
                {% if modulo == 1 and loop_index != '1' %}<div class="item">{% endif %}
                    <a href="#slide-item-years" data-toggle="popover" data-content="<span class='prix'>{{ 'product.price' | t }}: {{ product.price | money }}</span>
                                                                                    <br/>{% if denomination %}{{ denomination }}<br/>{% endif %}
                                                                                    {% if quality %}{{ quality }}<br/>{% endif %}
                                                                                    {% if country %}{{ country }}<br/>{% endif %}
                                                                                    {% if year %}{{ year }}<br/>{% endif %}
                                                                                    <a href='/collections/{{ lastcathandle }}/products/{{ product.handle}}'>
                    <img src='{{ 'view-all.png' | asset_url }}' alt=''/>{{ 'product.discover' | t }}</a>"><img src="{% if product.images.size >= 1%}{{ product.featured_image | product_img_url: 'compact' }}{% else %}{{ 'product_home_default.png' | asset_url }}{% endif %}" alt="Item" class="img-responsive product-accordion" >
                    </a>
                {% if modulo == 0 or forloop.last == true %}</div>{% endif %}
                {% if loop_index == '24' %}{% break %}{% endif %}

            {% endunless %}
          {% endfor %}
          </div>

          <a class="left carousel-control" href="#slide-items-years" role="button" data-slide="prev">
              <img src="{{ 'inspirations-fleche-gauche.png' | asset_url }}" alt="<" aria-hidden="true" class="iconprev"/>
          </a>
          <a class="right carousel-control" href="#slide-items-years" role="button" data-slide="next">
              <img src="{{ 'inspirations-fleche-droite.png' | asset_url }}" alt="<" aria-hidden="true" class="iconnext"/>
          </a>
          </div>
  </div>
</div>

<!-- URL PARAMS VIA Algo OU Collection pour navigation inter produit -->
<script>
  function GetURLParameter(sParam)
  {
      var sPageURL = window.location.search.substring(1);
      var sURLVariables = sPageURL.split('&');
      for (var i = 0; i < sURLVariables.length; i++)
      {
          var sParameterName = sURLVariables[i].split('=');
          if (sParameterName[0] == sParam)
          {
              return sParameterName[1];
          }
      }
  }
  var previous = GetURLParameter('previous');
  var next = GetURLParameter('next');
  if (previous) {
  $("#previous").html("<a href=\"/products/" + previous + "\"> <img src=\"{{ 'back.png' | asset_url }}\" class=\"back\" /><span>{{ 'product.previous-item' | t }}</span></a>");
  }else {
    $("#previous2").html("<a href=\"{{ collection.previous_product }}\"><img src=\"{{ 'back.png' | asset_url }}\" class=\"back\" /><span>{{ 'product.previous-item' | t }}</span></a>");
  };
  if (next) {
  $("#next").html("<a href=\"/products/" + next + "\"> <span>{{ 'product.next-item' | t }}</span><img src=\"{{ 'next.png' | asset_url }}\" class=\"next\" /></a>");
    }else {
      $("#next2").html("<a href=\"{{ collection.next_product }}\"><span>{{ 'product.next-item' | t }}</span><img src=\"{{ 'next.png' | asset_url }}\" class=\"next\" /></a>");
    };
</script>

<!-- FIX DESIGN// Dynamic modal content for Bootstrap & debug zoom -->
<script>
  $('#myModal').on('show.bs.modal', function () {
    $('.modal-content').css('height',$( window ).height()*0.97);
    $('#zoompopup').css('height',$( window ).height()*0.85);
});
  $('#container-zoom').mouseover(function () {
    $('#window-zoom').hide();
});
</script>

<!-- filtre pour le headCaption avec HTML non interprétable -->
<script>
$(' p#headCaption').each(function() {
   var $this = $(this);
   $this.html($this.text().replace(/\b<bullet>\b/g, '<del><bullet></del>'));
});
</script>