{% unless settings.active_algolia %}
{% include 'classic-search' %}
{% else %}
<div id="spinnerOverlay"></div>
<div id="spinnerMessage">Please wait few seconds</div>
<div id="spinner" class="sk-spinner sk-spinner-three-bounce">
        <div class="sk-bounce1"></div>
        <div class="sk-bounce2"></div>
        <div class="sk-bounce3"></div></div>
<div class="resultat">
    <div class="container">
        {% include 'breadcrumb' %}
        <input type="hidden" name="customer-id" value="{{ customer.id }}" id="customid">

        <div class="search">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><img src="{{ 'search.png' | asset_url }}" alt=""></span>
                <input id="searchInput" type="search" class="form-control" name="search" placeholder="Enter your search here" aria-describedby="sizing-addon1">
            </div>
        </div>

        <div class="row">
            <div id="facetsContainer" class="col-md-3 filtres">
                {% include 'algolia-filtres' %}
            </div>

            <div class="col-md-9 produits">
                <div class="filtre-haut">
                    {% include 'algolia-filtre-haut' %}
                </div><!-- .filtre-haut -->

                <div id="resultsContainer" class="contenu-produits-af3 row"></div>

                <div id="pagination"></div>
                <div id="perPageSelector" class="col-xs-12 view-all"></div>
            </div><!-- .col-md-9 -->
        </div><!-- .row -->

    </div><!-- .container -->
</div><!-- .resultat -->

    {% include 'algolia-scripts' %}
    <script src="//cdn.jsdelivr.net/algoliasearch/3.7.7/algoliasearch.min.js"></script>
    <script src="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery/1.11.3/jquery.min.js"></script>
    {{ 'algoliaSearch.js' | asset_url | script_tag }}

    <script src="//cdn.jsdelivr.net/underscorejs/1.8.3/underscore-min.js"></script>
    {{ 'bootstrap.min.js' | asset_url | script_tag }}
{% endunless %}<!-- fin condition settings search results -->